{% extends "base_content.html" %}
<!-- complete.html -->
{% load i18n %}
{% block head %}{% endblock %}
{% block title %}{% spaceless %}{% trans "Connect your OpenID with this site" %}{% endspaceless %}{% endblock %}
{% block content %}
        <div class="message">
            {# Only display the OpenID greeting if a provider is detected. #}
            {% if provider %}
                <p>
                    <b>{% trans "You are here for the first time with " %}{{ provider }}</b>
                </p>
            {% endif %}
        </div>
    	<p style="display:none">{% trans "This account already exists, please use another." %}</p>
	{% if form1.errors %}
        <ul class="errorlist">
        {% if form1.non_field_errors %}
            {% for error in form1.non_field_errors %}
                <li>{{error}}</li>
            {% endfor %}
        {% endif %}
        </ul>
	{% endif %}

	<div class="login">
	  <div id="ca-center">
		<h3>Create account</h3>
        <form name="fregister" class="form-stacked" action="" method="POST">
            {{ form1.next }}
            <div class="form-row-vertical margin-bottom">
                {% if form1.username.errors %} 
                    <p class="error">{{ form1.username.errors|join:", " }}</p>
                {% endif %}
				<label for="id_username">Username</label>
				<input id="id_username" placeholder="Choose your username" type="text" class="required login" name="username" maxlength="30">
            </div>
            {% if form1.password1 %}
                <div class="form-row-vertical margin-bottom">
                    {% if form1.password1.errors %}
                        <p class="error">{{ form1.password1.errors|join:", " }}</p>
                    {% endif %}
					<label for="id_password1">Password</label>
					<input id="id_password1" placeholder="Create a password" type="password" class="required login" name="password1">
                </div>
                <div class="form-row-vertical margin-bottom">
                    {% if form1.password2.errors %} 
                        <p class="error">{{ form1.password2.errors|join:", " }}</p>
                    {% endif %}
					<label for="id_password2">Password (again)</label>
					<input id="id_password2" placeholder="Confirm your password" type="password" class="required login" name="password2">
                </div>
            {% endif %}
            <div class="form-row-vertical margin-bottom">
                {% if form1.email.errors %} 
                    <p class="error">{{ form1.email.errors|join:", " }}</p>
                {% endif %}
				<label for="id_email">Email address</label>
				<input id="id_email" placeholder="Confirm your email address" type="text" class="required login" name="email" maxlength="200">
            </div>
            {% if form1.recaptcha %}
                <div class="form-row-vertical margin-bottom">
                <label for="recaptcha_id">{{ form1.recaptcha.label }}</label>
                {% if form1.recaptcha.errors %} 
                    <p class="error">{{ form1.recaptcha.errors|join:", " }}</p>
                {% endif %}
                {{ form1.recaptcha }}
                </div>
            {% endif %}
            <div class="submit-row"><input type="submit" class="btn danger" name="bnewaccount" id="bnewaccount" value="Sign up"/></div>
		</form>
	  </div>
	</div>
    {% comment %}<!-- this form associates openID with an existing password-protected account, not yet functional -->
    {% if form2 %}
	<div class="login" style="display:none">
        <form name="fverify" action="{% url user_register %}" method="POST">
            {{ form2.next }}
			<fieldset style="padding:10px">
				<legend class="big">{% trans "Existing account" %}</legend>
				<div class="form-row"><label for="id_username">{% trans "user name" %}</label><br/>{{ form2.username }}</div>
				<div class="form-row"><label for="id_passwordl">{% trans "password" %}</label><br/>{{ form2.password }}</div>
                <p><span class='big strong'>(Optional) receive updates by email</span> - only sent when there are any.</p>
				<!--todo double check translation from chinese 确认 = "Register" -->
				<div class="submit-row">
					<input type="submit" class="submit" name="bverify" value="{% trans "Register" %}"/> 
					<a href="{% url user_sendpw %}">{% trans "Forgot your password?" %}</a>
				</div>
			</fieldset>
		</form>
	</div>
    {% endif %}
    {% endcomment %}
{% endblock %}
<!-- end complete.html -->
