
<!DOCTYPE html>
<html class="google" itemscope="" itemtype="http://schema.org/WebPage" lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      CareerVillage.org
    </title>
    <script>
(function(H){H.className=H.className.replace(/\bgoogle\b/,'google-js')})(document.documentElement)
    </script>
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <meta content=
    "CareerVillage.org helps students get career advice so they can make better informed decisions about their future."
    name="description">
    <script>
WebFontConfig={google:{families:["Karla:400,400italic,700,700italic"]},custom:{families:["SteelfishLtRegular"],urls:["//www.google.com/loon/css/fonts.css"]}};(function(){var wf=document.createElement("script");wf.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1.4.2/webfont.js";wf.type="text/javascript";wf.async="true";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(wf,s)})();
    </script>
    <link href="//www.google.com/loon/css/default.css" rel="stylesheet">
    <meta content="CareerVillage.org" itemprop="name">
    <meta content="Help students get career advice" itemprop="description">
    <script src="//www.google.com/js/google.js">
</script>
  </head>
  <body class="what">
    <div id="stars" role="presentation">
      <div id="stars-1"></div>
      <div id="stars-2"></div>
    </div>
    <div class="header" role="banner">
    </div>
    <div class="main" role="main">
      <div class="overview" id="overview">
        <p style="font-size: 2em;">
            <img src="/m/default/media/images/icon-caution.png" style="margin-right: 20px;">Please click confirm in the email you just got
        </p>
      </div>
      <div class="section" id="vote">
        <h2>
          AT NCVS? VOTE FOR US IN THE CHASE COMPETITION!
        </h2>
        <div class="cols">
          <div class="col">
            <img alt="Find us at booth 417!" src="/m/default/media/images/chase-map.png">
          </div>
          <div class="col">
            <p>
              Find the voting station at booth 417<br>
              and vote for CareerVillage.org!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" role="contentinfo">
      <ul class="about">
        <li>
          <span>CareerVillage is a 501c3 non-profit.</span>
        </li>
        <li>
          <span>48 Charles Street, Suite 4, Boston, MA 02114</span>
        </li>
        <li>
          <span>(917)267-9715</span>
        </li>
        <li><a href="http://thenounproject.com/noun/caution/#icon-No7526" target="_blank">Caution</a> designed by <a href="http://thenounproject.com/misirlou" target="_blank">Benjamin Orlovski</a> from The Noun Project</li>
      </ul>
      <ul class="social">
        <li>
          <!-- EMPTY -->
        </li>
      </ul>
    </div><script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
</script> <script src="/m/default/media/js/advicelandingpage.min.js">
</script>
  </body>
</html>