<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- base_nosearch.html -->
{% load i18n extra_tags extra_filters markup ui_registry %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>{% block fulltitle %}{% block title %}{% endblock %} - {{ settings.APP_SHORT_NAME }}{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{{ settings.APP_DESCRIPTION }}{% endblock %}">
        <meta name="keywords" content="{% block metakeywords %}{{ settings.APP_KEYWORDS }}{% endblock %}">
        {% block meta %}{% endblock %}
        <script type="text/javascript">
	        var _kmq = _kmq || [];
	        var _kmk = _kmk || '003104a34952eb9790724877220006d57992765c';
	        function _kms(u){
	        	setTimeout(function(){
	        		var d = document, f = d.getElementsByTagName('script')[0],
	        		s = d.createElement('script');
	        		s.type = 'text/javascript'; s.async = true; s.src = u;
	        		f.parentNode.insertBefore(s, f);
	        		}, 1);
	        	}
	        _kms('//i.kissmetrics.com/i.js');
	        _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        </script>
        <script type="application/javascript">var _prum={id:"516706dee6e53d3016000000"};var PRUM_EPISODES=PRUM_EPISODES||{};PRUM_EPISODES.q=[];PRUM_EPISODES.mark=function(b,a){PRUM_EPISODES.q.push(["mark",b,a||new Date().getTime()])};PRUM_EPISODES.measure=function(b,a,b){PRUM_EPISODES.q.push(["measure",b,a,b||new Date().getTime()])};PRUM_EPISODES.done=function(a){PRUM_EPISODES.q.push(["done",a])};PRUM_EPISODES.mark("firstbyte");(function(){var b=document.getElementsByTagName("script")[0];var a=document.createElement("script");a.type="text/javascript";a.async=true;a.charset="UTF-8";a.src="//rum-static.pingdom.net/prum.min.js";b.parentNode.insertBefore(a,b)})();</script>
        {% if user.email %}
        <script type="text/javascript">
        _kmq.push(['identify', '{{ user.email }}' ]); 
        </script>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="og:image" content="http://careervillage.org/upfiles/tree-64.png"/>
        <meta property="fb:app_id" content="167783923319908"/>
        <meta property="fb:title" content="{{ question.headline }}"/>
        <meta property="fb:type" content="non_profit"/>
        {% if settings.GOOGLE_SITEMAP_CODE %}
        <meta name="google-site-verification" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        {% endif %}
        <link rel="shortcut icon" href="{{ settings.APP_FAVICON }}" />
        <link href='http://fonts.googleapis.com/css?family=Lobster|Ruluko' rel='stylesheet' type='text/css'>  
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% media  "/media/style/bootstrap-1.4.0-custom.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% media  "/media/style/custom.css" %}" rel="stylesheet" type="text/css" />
        {% if settings.USE_CUSTOM_CSS|or_preview:request %}
        <link href="{% url custom_css %}" rel="stylesheet" type="text/css" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css" />
        {% block forestyle %}{% endblock %}
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load("jquery", "1.4.2");
            google.load("jqueryui", "1", {autoload:true});
        </script>
        <script type="text/javascript">
        /* <![CDATA[ */
            var i18nLang = '{{settings.LANGUAGE_CODE}}';
            var scriptUrl = '{{settings.FORCE_SCRIPT_NAME}}/';
            var osqaSkin = '{{settings.OSQA_SKIN}}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url matching_tags %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /* ]] */
        </script>
        <script type='text/javascript' src='{% media  "/media/js/osqa.main.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/bootstrap-1.4.0-dropdown.js" %}'></script>
        {% if user_messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                var element = $('#validate_email_alert');
                element.click(function(){notify.close(true);})
                notify.show();
            });
        </script>
        {% endif %}
        {% if settings.USE_CUSTOM_HEAD|or_preview:request %}
            {{ settings.CUSTOM_HEAD|or_preview:request|safe }}
        {% endif %}
        {% block forejs %}{% endblock %}
        <script type='text/javascript' src='{% media  "/media/js/customjs.js" %}'></script>
        <link rel="search" type="application/opensearchdescription+xml" href="{% url opensearch %}" title="{{ settings.APP_SHORT_NAME }} Search" />
        {% loadregistry head_content %}{% endloadregistry %}
    </head>
    <body>
        <div class="notify" style="display:none;">
            {% autoescape off %}
                {% if user_messages %}
                    {% for message in user_messages %}
                          <p class="darkred lobster">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endautoescape %}
            <a id="close-notify" onclick="notify.close(true)">&times;</a>
        </div>
        {% if settings.USE_CUSTOM_HEADER|or_preview:request %}
            <div id="custom_header" class="notify darkred lobster">
                {{ settings.CUSTOM_HEADER|or_preview:request|static_content:settings.CUSTOM_HEADER_RENDER_MODE }}
            </div>
        {% endif %}
        {% include "header_nosearch.html" %}
        {% block page_center %}
        <div id="wrapper">
            <div id="room">
                <div id="CAFull">
                    {% block content%}
                    {% endblock%}

                </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
            <div class="spacer3"></div>
        </div>
        {% endblock %}
        {% if settings.USE_CUSTOM_FOOTER|or_preview:request %}
            {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "above" %}
                <div id="custom_footer">
                    {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                </div>
            {% endifequal %}
            <div id="ground">
                {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "replace" %}
                    {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                {% else %}
                    {% include "footer.html" %}
                {% endifequal %}
            </div>
            {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "below" %}
                <div id="custom_footer">
                    {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                </div>
            {% endifequal %}
        {% else %}
            <div id="ground">
                {% include "footer.html" %}
            </div>
            <div id="donatebox">
                <div id="donatelabel"> </div>
                <div class="donateright">
                    <div class="donatetext">
                        Help us bring career advice to more students across America.
                    </div>
                    <div><a href="http://giv.lt/14lZbRm" class="on-checkout"><img src="https://ordernow_prod.s3.amazonaws.com/img/TheGivletButton.png" alt="Give Now"/></a></div>
                </div>
            </div>
        {% endif %}
        {% block endjs %}
        {% endblock %}
        {% if settings.GOOGLE_ANALYTICS_KEY %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
                
                //<%# http://www.thetaboard.com/blog/client-side-error-logging-with-google-analytics %>
                window.onerror = function(message, file, line) {
                   var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message;
                   _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
                }
            </script>
        {% endif %}
        <script type='text/javascript' src='https://ordernow_prod.s3.amazonaws.com/js/givlet-widget-latest.js'></script>
    </body>
</html>
<!-- end template base_nosearch.html -->
