{% extends "base_content.html" %}
{% block page_center %}

<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">For Educators: Get CareerVillage in your Classrooms!</h1></div>
		</div>
		<div class="row">
			<div class="span16 center"><h5><em>Provide your students with access to a wide array of professionals for <strong>FREE</strong>.</em></h5></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<h3>What is CareerVillage?</h3>
				<p>CareerVillage is an online community where students ask 
				professional development questions and working professionals answer them. 
				It is supported by a dedicated non-profit. Our mission is to help 
				students explore longer-term career options and the tangible steps 
				they can take to make those options a reality. 
				</p>
			</div>
			<div class="span6 offset2">
				<h3>How does the program work?</h3>
				<p>We provide our partners with all of the materials they need 
				to run a 6-week CareerVillage program with their students. It 
				with a workshop on asking good questions, and then is followed up 
				with easily-or-automatically-gradable homework assignments or 
				friendly competitions to encourage students to get used to the 
				experience of asking questions. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">Contact us to find out more!</h1></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span12 offset2 center">
				<h3>Contact our founders to find out more.</h3>
				<p>We're available anytime by email at team [at] careervillage. Remember it's .org, not .com! 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}