<!-- template header.html -->
{% load extra_tags ui_registry i18n extra_filters markup %}


	<div id="topbar" data-dropdown="dropdown">
		<div id="topnav">
 		    {% loadregistry header_links %}{% endloadregistry %}
 		    <ul class="nav">
 		    		<li class="dropdown">
 		    			<a href="/about/" class="dropdown-toggle">About</a>
 		    			<ul class="dropdown-menu">
 		    				<li><a href="/about/">Introduction</a></li>
 		    				<li><a href="/for-professionals/">For professionals</a></li>
 		    				<li><a href="/for-educators/">For educators</a></li>
 		    				<li><a href="/our-team/">Our team</a></li>
 		    				<li><a href="http://careervillage.wordpress.com/">Our blog</a></li>
 		    				<li><a href="http://www.facebook.com/CareerVillage/">Our Facebook</a></li>
 		    			</ul>
 		    		</li>
 		    </ul>
		</div>
	</div>
  <div class="clear"></div>
	<div id="roof">
	  
		<div id="logo">
			<a href="{% url index %}">
				<img src="{{ settings.APP_LOGO }}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/>
			</a>
		</div>
	  
    <div id="headerrightside">
	    Where students ask career questions<br>
	    that professionals answer. 
	    <a href="{% url about %}" style="color:white; font-weight:bold; text-decoration: underline;">Learn more</a>
    </div>
  </div>

  <div class="clear"></div>
  
	<div id="searchBar">
<!-- This div used to be the search bar alone, and has been retasked to be the complete navigation bar -->
		<div class="navlabel">Browse by:</div>
        {% loopregistry page_top_tabs %}{% spaceless %}
            <div id="nav_{{ tab_name }}" class="secondaryaction{% ifequal tab tab_name %}on{% endifequal %}"><a id="nav_a_{{ tab_name }}" class="SecondaryActionButton" href="{{ tab_url }}" >{{ tab_title }}</a></div>
        {% endspaceless %}{% endloopregistry %}
        <div class="divider navlabel">Take action:</div> 
            <div id="nav_ask" class="primaryaction"><a id="PrimaryActionAsk" href="{% url ask %}" class="PrimaryActionButton">Ask a question</a></div>
            <div id="nav_answer" class="primaryaction"><a id="PrimaryActionAnswer" href="{% url unanswered %}" class="PrimaryActionButton">Answer a question</a></div>
		<div id="search">
		    <form id="topsearch" action="{% url search %}" method="get">
		            <input type="text" placeholder="Search..." value="{{ keywords }}" name="q" id="keywords" />
		            <input type="submit" class="displaynone" name="Submit" value="{% trans "search" %}" class="searchBtn" />
		            <span id="searchoptions" class="displaynone">
			            <input id="type-question" type="radio" value="question" name="t" 
			                checked="checked" /><label for="type-question">{% trans "questions" %}</label>
			            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics<!-- {% trans "tags" %} --></label>
			            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">{% trans "users" %}</label>
		            </span>
		    </form>	
		</div>
	</div>

	{% if settings.USE_ANNOUNCEMENT_BAR|or_preview:request %}
  <div id="announcement">
      {{ settings.ANNOUNCEMENT_BAR|or_preview:request|static_content:settings.ANNOUNCEMENT_BAR_RENDER_MODE }}
  </div>
  {% endif %}

<!-- end template header.html -->
