{% extends "questions.html" %}
<!-- index.html -->
{% load general_sidebar_tags %}
{% load question_list_tags %}
{% load i18n %}
{% block fulltitle %}{{ settings.APP_TITLE }}{% endblock %}
{% block sidebar %}
    {% if not request.user.is_authenticated %}
        {% if settings.SHOW_WELCOME_BOX %}
            <div class="boxA">
                <h3>{{ settings.APP_SHORT_NAME }} {% trans "is" %}...</h3>
                <div class="body">
                  {{ settings.APP_INTRO|safe }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div id="nav_ask" class="primaryaction" style="text-align:center;"><a id="PrimaryActionAsk" href="{% url ask %}" class="btn success large" style="width:200px;">Ask a question</a></div>
    <br/>
    {% include "question_list/count.html" %}
    {% sidebar_upper %}
    {% if request.user.is_authenticated %}
        {% tag_selector %}
    {% endif %}
    {% sidebar_lower %}
    {% recent_tags %}
    {% recent_awards %}
{% endblock %}
<!-- index.html -->

