{% extends "base_content.html" %}
{% block page_center %}

<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">The CareerVillage Team</h1></div>
		</div>
		<div class="row">
			<div class="span16 center"><h5><em>We're blessed to have them - every one!</em></h5></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<h3>Our founders</h3>
				<p>Jared Chung and Jennifer Pan are the co-founders of 
				CareerVillage. Check back soon for more about them and 
				our other team members. 
				</p>
			</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}