{% extends "base_content.html" %}
{% block page_center %}

<div id="wrapper">
	<div>&nbsp;</div>
	<div class="container vlightbg">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span8 offset1 left">
				<h1>Make a difference</h1>
			</div>
			<div class="span5 offset1 center">
				<h1 class="red">Email us now</h1>
			</div>
		</div>
		<div class="row">
			<div class="span8 offset1 left">
				<h3>
				Join the CareerVillage team in our quest to build 
				the world's largest and most inspirational online 
				career training resource for high school students.  
				</h3>
			</div>
			<div class="span5 offset1 center">
				<h3 class="red">to find out more!</h1>
				<br/>
				<a class="btn large primary hugefont" href="mailto:team@careervillage.org?subject=Joining%20Career%20Village">
					<strong>I'm ready!</strong><br/>
				</a>
				<br/>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 left"><h1 class="red">Our founding team: The Village Chiefs</h1></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="/m/default/media/images/team/jared.jpg" alt="Jared Chung Portrait" /><br/></a></li>
				</ul>
				<h3>Jared Chung - Chief Village Elder</h3>
				<p>Jared is a Village Founder and Chief Village Elder at 
				CareerVillage. He is an entrepreneur, self-taught developer, 
				and advisor to non-profits. He holds a B.S. in Finance from 
				NYU Stern, where he first began working with education 
				organizations on a pro-bono basis. 
				<br />
				<br />
				Jared was previously an 
				Engagement Manager with McKinsey & Company, where he managed teams on 
				projects in a wide range of industries across a dozen 
				countries over a 6 year period. While at McKinsey, he built 
				cross-functional joint ventures, led training seminars, and 
				led pro-bono consulting projects. 
				<br />
				<br />
				In his spare time, Jared organizes TEDx conferences, rides 
				his bike in the beautiful rolling hills around the village, 
				and surveys his lands as Chief Village Elder. 
				</p>
			</div>
			<div class="span6 offset1">
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="/m/default/media/images/team/jen.jpg" alt="Jennifer Pan Portrait" /><br/></a></li>
				</ul>
				<h3>Jennifer Pan - Chief of Village Ops</h3>
				<p>Jennifer is a Village Founder and Chief of Village 
				Operations at CareerVillage. She is a graduate student in 
				the Department of Government at Harvard University. She 
				holds a B.A. summa cum laude from the Woodrow Wilson School 
				of Public Policy and International Affairs at Princeton 
				University. 
				<br />
				<br />
				Jennifer's research interests include welfare state 
				development in non-OECD countries and the politics of 
				non-democratic states, with methodological interest in 
				automated content analysis and experiments. Prior to her 
				graduate studies, she was an engagement manager at 
				McKinsey & Company based in New York and Beijing. Jennifer 
				has also worked for the Clinton Foundation HIV/AIDS 
				Initiative and Chinese Center for Disease control.
				<br/>
				<br/>
				When Jennifer is off-duty, she maintains the Village's stable 
				of wild gyphons.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 left"><h1 class="red">Our pro-bono development team: The Village Protectorate</h1></div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span-one-third">
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="/m/default/media/images/team/akshat.jpg" alt="Akshat Pradhan Portrait" /><br/></a></li>
				</ul>
				<h3>Akshat Pradhan - Village Pirate</h3>
				<p>Akshat is a startup founder and serial CTO. Akshat is a 
				developer at ActBlue and the leader of the Boston Security Meetup. 
				He was previously the CTO at Greenbean Recycle, and has held a 
				variety of engineering, security, and analyst roles.  
				</p>
			</div>
			<div class="span-one-third">
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="/m/default/media/images/team/ben.jpg" alt="Ben Hitov Portrait" /><br/></a></li>
				</ul>
				<h3>Ben Hitov - Village Ninja</h3>
				<p>Hello! I'm Ben. I am quite good at Math and 
				occasionally other things. I think life is pretty 
				awesome and would like to help everyone else feel 
				similarly.
				</p>
			</div>
			<div class="span-one-third">
				<ul class="media-grid">
					<li><a href="#"><img class="thumbnail" src="/m/default/media/images/team/max.jpg" alt="Max Thayer Portrait" /><br/></a></li>
				</ul>
				<h3>Max Thayer - Village Stormtrooper</h3>
				<p>Max is a change-agent dedicated to creating value 
				through the obviation of structural barriers within 
				any and all industries he can lay his hands on, from 
				education and research to law and staffing. 
				</p>
			</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 left"><h1 class="red">Our founding board members: The Village Council</h1></div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 left">
				<p><strong>Jessica Pliska</strong> is the Founder and 
				Executive Director of the Opportunity Network and sits 
				on the organization's board of directors. Before founding The 
				Opportunity Network in 2002 with Brian Weinstein, Jessica 
				worked with non-profit organizations that include The 
				"I Have a Dream" Foundation, Prep for Prep, God's Love We 
				Deliver, The New York City Ballet and a variety of 
				community organizations focused on economic development 
				in inner city neighborhoods. Jessica graduated from Yale 
				University with a B.A. in political science. She sits on 
				the board of One to World, a non-profit organization 
				creating learning and cultural opportunities for 
				Fulbright and other international scholars in New York City, 
				and on the Education Advisory Board of the "I Have a Dream" 
				Foundation.</p>
			</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 left">
				<p><strong>Michael Park</strong> is a Principal at 
				McKinsey & Company, the global management consulting firm. 
				He is a leader in McKinsey's Corporate Finance and Advanced 
				Industrials practices, advising energy equipment providers, 
				contractors, utilities, and governments on growth strategy, 
				cleantech, M&A and divestitures. He also leads the Firm's 
				work on US innovation and growth for the Advanced 
				Manufacturing sector.  Mr. Park graduated magna cum laude 
				from Harvard College with an A.B. in Economics.</p>
			</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}