<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
{% load i18n extra_tags extra_filters markup ui_registry %}
        <title>CareerVillage</title>
        <meta name="description" content="Career advice students can trust, from real-life professionals">
        <meta name="keywords" content="CareerVillage,Career,Professionalism,forum,community">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta property="og:image" content="http://careervillage.org/upfiles/tree-64.png"/>

	<!-- KISS METRICS -->
        <script type="text/javascript">
	        var _kmq = _kmq || [];
	        var _kmk = _kmk || '003104a34952eb9790724877220006d57992765c';
	        function _kms(u){
	        	setTimeout(function(){
	        		var d = document, f = d.getElementsByTagName('script')[0],
	        		s = d.createElement('script');
	        		s.type = 'text/javascript'; s.async = true; s.src = u;
	        		f.parentNode.insertBefore(s, f);
	        		}, 1);
	        	}
	        _kms('//i.kissmetrics.com/i.js');
	        _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
        </script>

	<!-- GOOGLE SITE VERIFICATION -->
        {% if settings.GOOGLE_SITEMAP_CODE %}
	        <meta name="google-site-verification" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        {% endif %}

	<!-- STYLES -->
        <link href='http://fonts.googleapis.com/css?family=Lobster|Ruluko' rel='stylesheet' type='text/css'>  
        <link href="{% media  "/media/bootstrap_2.1.1/css/bootstrap.min.2.1.1.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% media  "/media/style/splash.css" %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ settings.APP_FAVICON }}" />
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" />

	<!-- JQUERY AND OTHER JS -->
        <script type='text/javascript' src='{% media  "/media/js/customjs.js" %}'></script>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load("jquery", "1.4.2");
            google.load("jqueryui", "1", {autoload:true});
        </script>

	<!-- MESSAGES -->
        <script type="text/javascript">
        /* <![CDATA[ */
            var i18nLang = '{{settings.LANGUAGE_CODE}}';
            var scriptUrl = '{{settings.FORCE_SCRIPT_NAME}}/';
            var osqaSkin = '{{settings.OSQA_SKIN}}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url matching_tags %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /* ]] */
        </script>

	<!-- SEARCH -->
        <link rel="search" type="application/opensearchdescription+xml" href="{% url opensearch %}" title="{{ settings.APP_SHORT_NAME }} Search" />

	<!-- OTHER -->
        {% loadregistry head_content %}{% endloadregistry %}
    </head>	
    <body>
    		<div class="navbar navbar-inverse navbar-fixed-top darkblue">
    			<div class="navbar-inner">
			    <div class="container">
	    				<a class="brand" href="#"><strong>Career</strong>Village</a>
    					<ul class="nav pull-right">
    						<li><a href="/account/signin/">Login</a></li>
    						<li><a href="/about/">About</a></li>
    					</ul>
		    		</div>
    			</div>
    		</div>
    <header class="jumbotron header coolblue">
    		<div class="container"
			<div class="row">
    				<div class="span7 headerleft">
    					<h1 class="headline">Career advice students can trust, from real-life professionals</h1>
    					<div class="splashsearch">
    						<form class="form-inline" action="{% url search %}" method="get" id="searchform">
    							<div class="input-append">
	    					  		<input class="span2 searchbar" id="appendedSearch" type="text" value="{{ keywords }}" name="q" placeholder="Search for an example career">
    					  			<span class="add-on" id="SearchBtn" onclick="$('#searchform').submit()"><i class="icon-search"></i> Start</span>
    					  			<input id="type-question" type="radio" value="question" name="t" checked="checked" style="display:none;"/>
    					  		</div>
	    					</form>
					</div>
    					<div class="splashsearch-example">ex: Computer Engineer, Crime Scene Investigator, Doctor</div>
    				</div>
    				<div class="span4 headerright">
    					<div><img src="/m/default/media/images/splash/bob.png" title="Success"/></div>
    					<div id="blue_column"></div>
	    			</div>
    			</div>
		</div>
	</header>
	<div class="container spaceme">
		<div class="row center">
			<div class="span12">Recent questions from students across America</div>
		</div>
		<div class="row center">
			<div class="recent-questions">
				<div class="recent_question">
					<a class="recent_question_body" href="http://careervillage.org/questions/95/what-do-computer-engineers-do">What do computer engineers do for a living?</a>
					<div class="recent_question_student">
						<img src="/m/default/media/images/Student_icon_origami.png">
						<div class="Student_Box">
							<span class="Student_Name"><strong>Aisha R.</strong></span><br/>
							<span class="Student_Location">Boston, MA</span>
						</div>
					</div>
				</div>
				<div class="recent_question">
					<a class="recent_question_body" href="http://careervillage.org/questions/764/what-are-the-best-colleges-in-new-york-to-study-business">What are the best NY colleges to study business?</a>
					<div class="recent_question_student">
						<img src="/m/default/media/images/Student_Icon.gif">
						<div class="Student_Box">
							<span class="Student_Name"><strong>Daneesha G.</strong></span><br/>
							<span class="Student_Location">New York, NY</span>
						</div>
					</div>
				</div>
				<div class="recent_question">
					<a class="recent_question_body" href="http://careervillage.org/questions/900/what-are-the-best-traveling-careers-out-there">What are the best traveling careers out there?</a>
					<div class="recent_question_student">
						<img src="/m/default/media/images/Student_icon_hummingbird.png">
						<div class="Student_Box">
							<span class="Student_Name"><strong>Tashina C.</strong></span><br/>
							<span class="Student_Location">Boston, MA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row center">
		</div>
		<div class="row center">
			<div class="span12"><h1>How does CareerVillage work?</h1></div>
		</div>
		<div class="row center">
			<div class="span12">
				<div class="thirds">
					<div><h3 class="cvblue">Students</h3></div>
					<div class="minithird">Ask career questions and get great answers from real professionals</div>
				</div>
				<div class="thirds">
					<div><h3 class="cvblue">Professionals</h3></div>
					<div class="minithird">We'll send you questions from students about your career by email</div>
				</div>
				<div class="thirds">
					<div><h3 class="cvblue">Educators</h3></div>
					<div class="minithird">Spice up your classroom with life-changing career exploration</div>
				</div>
			</div>
		</div>
		<div class="row center">
		</div>
		<div class="row">
			<div class="span12 center"><h1>Real professionals answering questions</h1></div>
		</div>
		<div class="row">
			<div class="500professionals"><img src="/m/default/media/images/500professionals.png"></div>
			<div class="span12 center"><h4>Over 500 professionals have already started volunteering on CareerVillage!</h1></div>
		</div>
		<div class="row">
			<div class="span12 center"><h1>CareerVillage is a non-profit startup</h1></div>
		</div>
		<div class="row">
			<div class="span12 center">
				<strong>We serve young people all over the country</strong> with our Cambridge, MA-based team<br/>
				<strong>To donate or discuss grant opportunities,</strong> please <a href="mailto:team@careervillage.org?Subject=I%20want%20to%20support%20CareerVillage">contact our team.</a><br/>
				<strong>We are recruiting!</strong> To inquire about job opportunities, please <a href="mailto:team@careervillage.org?Subject=Joining%20CareerVillage">contact our team.</a><br/>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
	</div>
    		<div class="navbar nobottommargin">
    			<div class="navbar-inner">
			    <div class="container">
			    		<span>CareerVillage</span>
		    		</div>
    			</div>
    		</div>
	

        {% if settings.GOOGLE_ANALYTICS_KEY %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
                
                //<%# http://www.thetaboard.com/blog/client-side-error-logging-with-google-analytics %>
                window.onerror = function(message, file, line) {
                   var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message;
                   _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
                }
            </script>
        {% endif %}
    </body>
</html>
<!-- end template splash.html -->
