/*custom.css for cv*/

/*BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND*/
/*BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND*/
/*BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND*/

/*The following style overwrites the html background from styles.css*/
html {
	background: none;
    background: url('/upfiles/bluecandyhole25.png') repeat top left;
}

/*The following style overwrites the body background from styles.css*/
body {
	background: none;
}

/*NAVIGATION AND HEADER - NAVIGATION AND HEADER - NAVIGATION AND HEADER*/
/*NAVIGATION AND HEADER - NAVIGATION AND HEADER - NAVIGATION AND HEADER*/
/*NAVIGATION AND HEADER - NAVIGATION AND HEADER - NAVIGATION AND HEADER*/

/*The following style overwrites the nav id from styles.css*/
#nav {
	clear: both;
	float: left;
	width: 600px;
	margin: 35px 0px 7px 0px;
	margin-top: 48px;
}

/*The following styles define the top-of-page navigational elements*/
body #topbar {background: url('/upfiles/type.png') repeat top left;	}
body #topnav {
	width: 990px;
	height: 32px;
	text-align: right;
	padding-top: 10px;
	color: #ffffff;
}

body #topbar {
	-webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px 0px, rgba(0, 0, 0, 0.0976562) 0px -1px 0px 0px inset;
	background-color: #222;
	background-image: -webkit-linear-gradient(top, rgb(51, 51, 51), rgb(34, 34, 34));
	background-repeat: repeat-x;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px 0px, rgba(0, 0, 0, 0.0976562) 0px -1px 0px 0px inset;
	color: #404040;
 	display: block; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-y: visible;
	padding-left: 20px;
	padding-right: 20px;
}

body #topnav a {
	color: white;
	text-transform: capitalize;
	margin-right: 12px;
	font-weight: bold;
  } body #topnav a:hover {
	color: white;
	text-decoration: underline;
  } body #topnav a:active {
	color: red;
	text-decoration: underline;
}

body #topnav .score { /* This overwrites the color on the score class in styles.css */
	color: red;
	font-weight: bolder;
	margin-left: 0px;
	margin-right: 10px;
} 

body #topnav span {
	display: none;
} 

body #topnav .score {
	display: inline;
	margin-right: 10px;
} 

#topsearch {
	display: inline;	
	margin-left: 27px;
	text-transform: capitalize;
}

/*The following style defines logo styles*/
#roof #logo{
	float: left;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
}
	
/*The following styles space out the navigational bar*/
body #searchBar {
	font-weight: bold;
	text-align: left;
	height: 28px;
	padding-top: 10px;
	border-bottom: 0;
	color: #FFF;
	background-color: #2a2a2a;
}

/*Including body to prevent cstyles.css from overwriting this*/
body #searchBar div {
	display: inline;
	margin: 10px 4px 6px 5px;
	padding: 11px 10px;
}

#searchBar #browseby {
	font-weight: normal;
	color: #aaa;
	margin-right: 0;
	padding-right: 5px;
}

/* LAST LEFT OFF: Was resetting the styles on the anchor links in the nav bar */

#searchBar .secondaryaction a {color: #fff;}
#searchBar .secondaryactionon a {color: #FF0000;}
#searchBar .secondaryactionon {
	margin-bottom: 0px;
	padding-top: 6px;
	background-color: #fff;
	border-bottom: 0;
	padding-bottom: 13px;
}

#searchBar .on a {color: #FF0000;}
#searchBar .on {
	margin-bottom: 0px;
	padding-top: 6px;
	background-color: #fff;
	border-bottom: 0;
	padding-bottom: 13px;
}

#searchBar .primaryaction {
	background-color: #FF0000;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0;
}
#searchBar .primaryaction a {color: #fff;}

#searchBar #takeaction {
	font-weight: normal;
	color: #aaa;
	margin-right: 0;
	padding-right: 1px;
	border-left: 1px dashed #888;
}

#searchBar #search {
	margin-left: 5px;
	border-left: 1px dashed #888;
}

#searchBar #search form {margin-left: 0;}
#searchBar #search input {
	width: 293px;
	margin-left: 0;
}


/*QUESTION LISTS - QUESTION LISTS - QUESTION LISTS - QUESTION LISTS*/
/*QUESTION LISTS - QUESTION LISTS - QUESTION LISTS - QUESTION LISTS*/
/*QUESTION LISTS - QUESTION LISTS - QUESTION LISTS - QUESTION LISTS*/

/*The following class overwrites the class for the RSS feed icon in styles.css*/
#CALeft .tabBar .feed-icon{display:none;}

/*The following class overwrites the background for the dot-list icon in styles.css*/
.headQuestions{background: none;}

/*The following class gives tabBar a dotted underline (overwrites styles.css)*/
.tabBar{
	border-bottom: 1px dashed #ccc;
	margin-bottom: 9px;	
}

/*The following class redesigns the list sorting buttons*/
.tabsA a{
	background: none;
	border: none;	
}
/*The following class removes the borders on items in the stats-wrapper*/
.short-summary .stats-wrapper div{
	border: none;
}

/*The following class removes all styles on the views count set by styles.css*/
.short-summary .stats-wrapper .views{
	border: none;
	height: auto;
	margin: auto;
	padding: auto;
	test-align: center;
	width: auto;
}

/*The following classes are for the stats-wrapper*/
.short-summary .stats-wrapper{
	width: 127px;
	float: left;
	margin: 0;
	padding: 0;
    margin-left: 10px;
}

.short-summary .counts{
	float: left;
	margin-right: 0px;
	margin-top: 4px;
	padding: 5px;
	width: 111px;
	background-color: #eee;
	text-align: center;
}

.short-summary .stats-wrapper .counts .votes{
	float: left;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	width: 50px;
}

.short-summary .status{
	float: right;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	margin: 0;
	width: 50px;
}

.answered{
	background: none repeat scroll 0 0 #E5EBf8;
}

.short-summary .stats-wrapper .views{
	border: none;
	height: auto;
	margin: 0;
	color: #666;
	float: left;
	font-size: 12px;
	padding: 5px 0px 0px;
	width: 116px;
	text-align: center;
}

/*The following classes are for the question-summary-wrapper*/
.short-summary .question-summary-wrapper {
	width: 592px;
}

/*RIGHT SIDE - RIGHT SIDE - RIGHT SIDE - RIGHT SIDE - RIGHT SIDE*/
.boxC {
	border: none;
	background: #FFF;
} 

#sidebar-upper {
	display: none;
} 

#sidebar-lower {
	display: none;
} 



/*The following are global classes */
/*The following are global classes */
/*The following are global classes */

.displaynone {
	display: none;
}

/*Rails is better.*/ /*GAH! The Django Gods will NOT be pleased with this insurrection! I'm also pretty sure we're breaking the style guide.*/