/* style_v2css for CareerVillage */


/*************
 * DEV
/* optional styles for development purposes only — uncomment the next line to enable
***/
/*@import 'dev.css';*/


/*************
 * LAYOUT
 * fluid layout using twitter bootstrap
 * set container class to "container-fluid" and rows to "row-fluid" 
 ***/

#main-nav > .navbar-inner > div {
     max-width:1200px;
     margin: 0 auto;
}
#main-body {
    max-width:1200px; 
    margin:80px auto 0 auto;
}
#main-footer > div {
    max-width:1200px; 
    margin:0 auto;        
}
.left.span2 {
    padding-top:20px;
}
.center.span7 {
    padding:10px;
}
.right.span3 {
    padding-left:10px;
}


/* additional layout adjustments for smaller screens 
   medium breakpoint  */
@media (max-width:840px) { 
    
    /* clear floated images in narrow columns */
    .profile .media-body {
        clear:both;
        padding-top:5px;
    }    
    .items article .span2 {
        width: 23.404255319148934%;
    }
    .items article .span10 {
        width: 74.46808510638297%;
    }
}
@media (max-width:790px) {
    /* hide the right column on smaller screens */
    .responsive .span3.right {
        display:none;
    }
    .responsive .span7.center {
        width:82.97872340425532%;
    }    
}


/*************
 * FOOTER footer
 ***/
 
#main-footer {
    margin-top:60px;
    background-color:#ddd;
    min-height:200px;
    padding-top:20px;
}


/*************
 * SIDEBAR .col-sidebar
 * profile + user calls to action, misc
 ***/

.col-sidebar {

}


/*************
 * PROFILE PAGE .profile-page
 ***/

header.profile-page {
    min-height:128px;
}
header.profile-page .avatar {
    margin-right:20px;
}
header.profile-page .avatar img {
    border:1px solid #eee;
}
.profile-page .profile-stats {
    padding-top:20px;
}
.profile-page .sidebar-widget {
    border-right:1px solid #eee;
    padding-right:8px;
    margin-bottom:36px;
}


/*************
 * EMBEDDED PROFILE .profile
 ***/

.profile {
    padding:20px 5%;
    background-color:#f3f3f3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.profile h5 {
    margin:0;
}
.profile p {
    font-size:85%;
}
.profile-stats {
    clear:both;
    padding-top:10px;
}
.profile-stats h3,
.profile-stats p {
    text-align:center;
    line-height:120%;
    margin:0;
    padding:0;
}


/************
 * SEARCH FORM & RESULTS
 ***/

.list-questions {
    padding:0 1%;
}
.list-questions .items article {
    padding:15px 0;
    border-bottom:1px solid #eee;
}
.list-questions .items article:hover {
    background-color:#fafafa;
}
#topsearch .checkbox {
    margin-top:8px;
}
.search-subtext a {
    font-size:11px;
    color:#777;
    text-decoration:underline;
    display:block;
    margin-top:-10px;
    margin-bottom:20px;
}
.question-stats {
    clear:both;
    padding-top:10px;
}
.question-stats h3,
.question-stats p {
    text-align:center;
    line-height:120%;
    margin:0;
    padding:0;
}
.question-stats .timestamp {
    display:block;
    font-size:9px;
    position:relative;
    top:3px;
    text-align:center;
    color:#999;
}


/************
 * LIKE WIDGET
 ***/
 
.like-widget {
    width:85px;
    float:left;
    text-align:center;
    margin-left:10px;
}
.like-widget h3 {
    margin-top:-5px;
}


/************
 * TAGS
 ***/
 
.tags .badge {
    color:#666;
    background-color:#fefefe;
    font-weight:normal;
    text-shadow:none;
    border:#e6e6e6 solid 1px;
    -webkit-transition: background 0.3s ease;  
    -moz-transition: background 0.3s ease;  
    -o-transition: background 0.3s ease;   
    -ms-transition: background 0.3s ease;    
    transition: background 0.3s ease;
}
.tags .badge:hover {
    background-color:#ddEfFF;
    color:#666;
}


/*************
 * QUESTION
 * 
 ***/

#question {
    border:1px solid #eee;
    background-color:#fafafa;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#question .profile {
    background-color:transparent;
}
#question .tags {
    padding-bottom:10px;
}
#question .tags h6 {
    margin:0;
    font-weight:normal;
    text-transform:uppercase;
    font-size:11px;
}
#askform input,
#askform textarea {
    width:100%;
    
}

/*************
 * ANSWER
 * 
 ***/

.answer {
    border:1px solid transparent;
}
.answer .answer-comments {
    margin:18px -18px -24px -18px;
    padding:12px 22px 6px 22px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border:2px solid #d9e9d0;
    border-top:1px solid #ccddcc;
    background-color:#d9e9d0;
}
.answer .answer-comments:hover {
    background-color:#d6ebcd;
}
.answer .new-comment textarea {
    opacity:0.5;
}
.answer .answer-comments:hover .new-comment textarea,
.answer .answer-comments .new-comment textarea:active,
.answer .answer-comments .new-comment textarea:focus {
    opacity:1;
}
.answer-body {
    padding:18px 18px 12px 18px;
    margin-bottom:18px;    
    background-color:#e0efd8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#your-answer .answer-body {
    background-color:#eee;
}
.answer textarea {
    width:80%;
}
.answer .answer-comments h5 {
    margin:0;
    font-weight:normal;
    color:#666;
}
.answer .avatar img {
    display:block;
    margin-right:10px;
}
.answer-comments .avatar img {
    float:left;
    margin:6px 8px 6px 0;
}
.answer-comments .comment-author {
    color:#555;
    font-size:11px;
}
.answer-actions {
    text-align:center;
    margin:20px 0;
}
.answer .answer-content p {
    margin:12px 0;
}
.answer .answer-user h5 {
    margin:0;
    font-weight:normal;
}
.answer h5.answer-user a {
    color:#444;
    text-decoration:underline;
}


/*************
 * SETTINGS
 ***/

#settings h4.subtitle {
    text-align:center;
}

/* adjust the tabs so there's no separation between 
   the tabs on the left and content area on the right */
#settings .tabs-left .nav-tabs {
    width:100%;
    margin:0;
}
#settings .tabs-left  {
    position:relative;
    z-index:2;
    background-color:#fff;
}
#settings .tab-content {
    position:relative;
    left:-21px; /* pull the content box 1px below the tabs so it appears to be a single unbroken element */
    z-index:1;
    margin:0 -6px 0 21px;
    padding:24px 24px 32px 24px;
    border:1px solid #ddd;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
#settings .tab-pane {
    min-height:230px; /* pushes back to back to homepage button down to bottom right */
}

/* twitter bootstrap sets the label area of inline fields to 160px, 
   but then at 760 the layout breaks, so here we 
   adjust the width by minus 40px */
#settings .form-horizontal .control-label {
    width:120px;
}
#settings .form-horizontal .controls {
    margin-left:140px;
}

/* make the submit button very obvious */
#settings .submit {
    min-width:220px;
}

/* present the notifications settings as clickable boxes
   instead of radio buttons */
#notifications article {
    border:1px solid #eee;
    background-color:#fcfcfc;
    padding:1%;
    min-height:240px;
    -webkit-transition: background 0.3s ease;  
    -moz-transition: background 0.3s ease;  
    -o-transition: background 0.3s ease;   
    -ms-transition: background 0.3s ease;    
    transition: background 0.3s ease;
}
#notifications article.active {
    background-color:#badd9b;
}
#notifications article:hover {
    cursor:pointer;
    background-color:#badd9b;
}
#notifications article img {
    width:100%;
    background-color:#eee;
    min-height:40px;
    
}


/*************
 * IMAGES
 ***/
 
.thumbs-up {
    background-repeat:no-repeat;
    background-image:url('../img/thumbs-up.gif');
    background-position:center center;
    display:block;
    height:28px;
    width:100%;
    margin: -16px 0 4px 0;
}
.avatar img,
.avatar {
    width:64px;
    height:64px;
}
.avatar-medium,
.avatar-medium img {
    height:48px;
    width:48px;
}
.avatar-small,
.avatar-small img {
    width:32px;
    height:32px;
}
.avatar-large,
.avatar-large img {
    width:128px;
    height:128px;
}


/*************
 * TYPOGRAPHY
 ***/

h1.text-medium {
    font-size:21px;
    line-height:130%;
}
h2.text-medium {
    font-size:16px;
    line-height:140%; 
    font-weight:normal; 
    color:#666;  
}
h2.text-primary {
    font-size:24px;
    line-height:120%; 
    font-weight:normal; 
    color:#333;  
}
.text-light {
    color:#999;
}
.text-subtext {
    color:#333;
    font-style:italic;
    font-size:11px;
}
h4.text-soft-header {
    color:#444;
    margin:32px 0 12px 0;
    padding-bottom:5px;
    font-weight:normal;
    border-bottom:1px solid #fcfcfc;
}
h4.subtitle {
    margin-bottom:24px;
    line-height:125%;
}
h3.section-header {
    margin-top:-5px; 
    font-weight:normal; 
    margin-bottom:-20px; 
}


/*************
 * MODAL CONFIRMATIONS
 ***/

.modal-no-box {
    background-color:transparent;
    border:0;
}

.modal-no-box h1, 
.modal-no-box h2, 
.modal-no-box h3, 
.modal-no-box h4, 
.modal-no-box h5, 
.modal-no-box h6, 
.modal-no-box p, 
.modal-no-box li {
    color:#fff;
}


/*
 * SIGNUP/SIGNIN
 */

#signup-signin .students-container {
    width: 90%;
    padding: 0 5%;
}
#signup-signin h1 {
    text-align: center;
    margin-bottom: 40px;
}

#signup-signin .subtle {
    color: #9d9d9d;
    text-decoration: underline;
    font-size: 13px;
}

#signup-signin .bold {
    font-weight: bold;
}

#signup-signin ul.nav.nav-tabs li {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

#signup-signin .form-horizontal {
    width: 310px;
    margin: 40px auto;
}

#signup-signin .form-horizontal .control-label {
    width: 70px;
}

#signup-signin .form-horizontal .controls {
    margin-left: 90px;
}

#signup-signin .form-horizontal .btn {
    padding: 6px 12px;
    line-height: 22px;
}

#signup-signin .form-horizontal .forgot-password {
    margin-right: 10px;
    padding-top: 8px;
}

#signup-signin .signup-tab {
    display: none;
}

#signup-signin .signup-tab .btn {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(180, 180, 180, 0.74);
    background-color: #00acc7;
    *background-color: #26bdd7;
    background-image: -moz-linear-gradient(top, #46cce6, #00acc7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46cce6), to(#00acc7));
    background-image: -webkit-linear-gradient(top, #46cce6, #00acc7);
    background-image: -o-linear-gradient(top, #46cce6, #00acc7);
    background-image: linear-gradient(to bottom, #46cce6, #00acc7);
    border: 1px solid #249ab0;
    border-color: #249ab0 #37a7bc #259bb0;
    border-bottom-color: #259bb0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#46cce6', endColorstr='#00acc7', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#signup-signin .signup-tab .user-type {
    width: 50%;
    float: left;
    text-align: center;
}

#signup-signin .signup-tab .user-type .user-icon {
    width: 32px;
    height: 32px;
    margin: 30px auto;
    background-repeat: no-repeat;
}

#signup-signin .signup-tab .user-type .user-icon.student {
    background-image: url("../images/student-icon.png");
}

#signup-signin .signup-tab .user-type .user-icon.educator {
    background-image: url("../images/educator-icon.png");
}

#signup-signin .signup-tab .btn:hover,
#signup-signin .signup-tab .btn:focus {
    color: #f6f6f6;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

#signup-signin .signup-tab .btn:focus {
    outline: thin dotted #ffffff;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


#signup-signin .signin-tab {
}

#signup-signin .professionals-container {
    width: 90%;
    padding: 0 5% 20px 5%;
    border-left: 2px solid #626262;
}

#signup-signin .professionals-container .linkedin-button {
    display: block;
    width: 300px;
    margin: 30px auto;
}

#signup-signin .gray-bold {
    font-weight: bold;
    font-size: 16px;
    color: #999999;
    text-align: center;
}

#signup-signin .no-linkedin {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 30px auto;
}

#signup-signin .linkedin {
    display: block;
    width: 196px;
    margin: 20px auto 0 auto;
    font-size: 16px;
}


/**
 * STUDENT SIGNUP
 */

#signup-student h2 {
    color: #26bdd7;
}

#signup-student .bold {
    font-weight: bold;
    margin: 50px 0 20px 0;
}

#signup-student form {
    position: relative;
}

#signup-student input[type=text],
#signup-student input[type=password] {
    height: 28px;
}

#signup-student .radio {
    font-size: 12px;
}

#signup-student .radio-label {
    width: 160px;
    text-align: right;
    padding: 5px;
}

#signup-student .avatar-selector {
    position: absolute;
    right: 0;
}

#signup-student .avatar-selector .btn {
    display: block;
    font-size: 12px;
    width: 70px;
    margin: 10px auto;
}

#signup-student .avatar-selector .img-polaroid {
    border-radius: 4px;
}

#signup-student .btn-wide {
    width: 100%;
    margin: 30px auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}