/* style_v2css for CareerVillage */


/*************
 * DEV
/* optional styles for development purposes only — uncomment the next line to enable
***/
/*@import 'dev.css';*/


/*************
 * LAYOUT
 * fluid layout using twitter bootstrap
 * set container class to "container-fluid" and rows to "row-fluid" 
 ***/

#main-nav > .navbar-inner > div {
     max-width:1200px;
     margin: 0 auto;
}
#main-body {
    max-width:1200px; 
    margin:80px auto 0 auto;
}
#main-footer > div {
    max-width:1200px; 
    margin:0 auto;        
}

/* layout adjustments for smaller screens 
   medium breakpoint  */
@media (max-width:840px) { 
    
    /* clear floated images in narrow columns */
    .profile .media-body {
        clear:both;
        padding-top:5px;
    }
}


/*************
 * FOOTER footer
 ***/
 
#main-footer {
    margin-top:60px;
    background-color:#ddd;
    min-height:200px;
    padding-top:20px;
}


/*************
 * SIDEBAR .col-sidebar
 * profile + user calls to action, misc
 ***/

.col-sidebar {

}


/*************
 * PROFILE .profile
 ***/

.profile {
    padding:20px 5%;
    background-color:#f3f3f3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.profile h5 {
    margin:0;
}
.profile p {
    font-size:85%;
}
.profile-img {
    width:64px;
    height:64px;
}
.profile-stats {
    clear:both;
}
.profile-stats h3,
.profile-stats p {
    text-align:center;
    line-height:120%;
    margin:0;
    padding:0;
}


/*************
 * QUESTIONS LIST .col-main.list-questions
 * 
 ***/
.list-questions {
    padding:0 1%;
}
.search-subtext {
    
}
.list-questions .items article {
    margin:5px 0;
    padding:10px 0;
    border-bottom:4px solid #eee;
}
.like-widget {
    width:85px;
    float:left;
    text-align:center;
    margin-left:10px;
}
.like-widget h3 {
    margin-top:-5px;
}
#question {
    border:1px solid #eee;
    background-color:#fafafa;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
#question .profile-td {
    background-color: #f3f3f3;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
}
#question .question-asker {
    min-height:32px;
}
#question .question-asker .profile-img {
    width:32px;
    height:32px;
    float:right;
    margin-right:4px;
}
#question .tags {
    padding-bottom:10px;
}
#question .tags h6 {
    margin:0;
    font-weight:normal;
    text-transform:uppercase;
    font-size:11px;
}
#question .tags .badge {
    color:#666;
    background-color:#fefefe;
    font-weight:normal;
    text-shadow:none;
    border:#e6e6e6 solid 1px;
    -webkit-transition: background 0.3s ease;  
    -moz-transition: background 0.3s ease;  
    -o-transition: background 0.3s ease;   
    -ms-transition: background 0.3s ease;    
    transition: background 0.3s ease;
}
#question .tags .badge:hover {
    background-color:#ddEfFF;
}


/*************
 * IMAGES
 ***/
 
.thumbs-up {
    background-repeat:no-repeat;
    background-image:url('../img/thumbs-up.gif');
    background-position:center center;
    display:block;
    height:28px;
    width:100%;
    margin: -16px 0 4px 0;
}



/*************
 * TYPOGRAPHY
 ***/

h1.text-medium {
    font-size:21px;
    line-height:130%;
}
h2.text-medium {
    font-size:16px;
    line-height:140%; 
    font-weight:normal; 
    color:#666;  
}
.text-light {
    color:#999;
}


