# encoding:utf-8

DEBUG = True
TEMPLATE_DEBUG = True

SECRET_KEY = '<fill>'

APP_URL = '<fill>'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '<fill>',
        'USER': '<fill>',
        'PASSWORD': '<fill>',
        'HOST': 'localhost',
        'PORT': '5432'
    }
}

SENTRY_DSN = '<fill>'


# Facebook applications
FACEBOOK_APPS = {
    'app0': {
        'APP_ID': '<fill>',
        'APP_NAMESPACE': '<fill>',
        'API_SECRET': '<fill>',

        'OVERRIDE_BACKEND_NAME': '<fill>',
    },
    'app1': {
        'APP_ID': '<fill>',
        'APP_NAMESPACE': '<fill>',
        'API_SECRET': '<fill>',

        'OVERRIDE_BACKEND_NAME': '<fill>',
    },
}

# Linkedin applications
LINKEDIN_APPS = {
    'app0': {
        'CONSUMER_KEY': '<fill>',
        'CONSUMER_SECRET': '<fill>',

        'OVERRIDE_BACKEND_NAME': '<fill>',
    },
    'app1': {
        'CONSUMER_KEY': '<fill>',
        'CONSUMER_SECRET': '<fill>',

        'OVERRIDE_BACKEND_NAME': '<fill>',
    },
}

# Current apps
FACEBOOK_APP = 'app0'
LINKEDIN_APP = 'app0'
