{% load extra_tags %}
{% load i18n %}

<div>
    <form id="comment-{{ post.id }}-form" method="post" action="{% url comment id=post.id %}" accept-charset="utf-8">
        <input class="input-medium" type="text" name="comment" placeholder="Like this answer? {{ cta_text }}!">
{% if user.is_anonymous %}
        <a class="btn btn-success" href="{% url auth_signin %}">Join our community</a>
    </form>
{% else %}
        <input type="submit" class="btn" value="{{ cta_text }}" />
    </form>
    <div>+5 Karma</div>
{% endif%}
</div>