{% extends "v2/base.html" %}
<!-- template v2/for_professionals.html -->
{% load i18n extra_tags extra_filters %}
{% block title %}{% spaceless %}{% trans "For professionals - CareerVillage" %}{% endspaceless %}{% endblock %}
{% block content %}
    <div>
        <div>
            <h1>The easiest and most impactful way to volunteer. Online.</h1>
        </div>
    </div>
    <div>
        <div>
            <h2>In one minute, you could give a student advice that could change their life.</h2>
        </div>
        <div>
            <h3>What is CareerVillage?</h3>
            CareerVillage is an online community where students ask professional development questions and working professionals answer them. It is supported by a dedicated non-profit. Our mission: CareerVillage strives to empower students to think about their future and to obtain the information they need to achieve their aspirations.
        </div>
        <div>
            <h3>Give back on your schedule</h3>
            Mentoring is a wonderful way to give back to your community. But when you can't schedule consistent meetings with students, you can still give back. CareerVillage allows you to answer questions and help students on your schedule.
        </div>
        <div>
            <h3>We help students in great need</h3>
            We partner with innovative leaders in education to provide CareerVillage to their teachers. We target students who need your help -- they attend high schools with proportionally high rates of free and reduced lunch, and a highly diverse student body. These are the students who often lack access to diverse professional networks through their family and friend networks.
        </div>
        <div>
            <h2>Let's get started!</h2> 
            Getting access to CareerVillage takes seconds.
        </div>
        <div>
            <a href="{% url auth_signin %}">Let's get started!</a>
        </div>
    </div>
    <div>
        <div><a href="mailto:team@careervillage.org?Subject=Getting%20involved%20with%20CareerVillage&Body=I%20am%20interested%20in%20learning%20more%20about%20CareerVillage." class="btn">Email us</a></div>
    </div>
{% endblock %}
<!-- end template v2/for_professionals.html -->