{% extends "v2/homepage_base.html" %}


{% block user_stats %}
<div class="profile-stats">
    <div class="row-fluid">    
        <div class="box span6 stats-border">
            <h3>{{ user.reputation }}</h3>
            <p class="text-light">Karma</p>
        </div>
        <div class="box span6 stats-border-last">
            <h3>{{ request.user.get_question_count_total }}</h3>
            <p class="text-light">Questions</p>
        </div>
    </div>
</div>
{% endblock %}


{% block search_prompt %}
    {# appears at the top of the main column #}
    What do you have questions about?
{% endblock %}


{% block askquestion %}
    {# appears just below search form #}
    <div class="search-subtext">
        <a class="label label-success" href="{% url ask_v2 %}">
            ask a new question
        </a>
    </div>
    {% endblock %}

{% block unanswered_only %}
    {# Empty for Students #}
    {% endblock %}


{% block append_results %}
    {# appears just below search results #}
    {% if not relevant %}
        {% if questions %}
            <h4>
                Don't see your question here? <a href="{% url ask_v2 %}">Ask your question now!</a>
            </h4>
        {% else %}
            <h4>
                Looks like we don't have a question about that yet. <a href="{% url ask_v2 %}">Ask your question now!</a>
            </h4>
        {% endif %}
    {% else %}
        {% if not questions %}
            {% if user_tags_count == 0 %}
                <h4>
                    Here we can show you questions that are about topics you care about. To do that, we need to know what topics you care about!
                </h4>
                <h4>
                    <a href="{% url settings_following_topics %}">Click here</a> to select topics and then come back here to see the results.
                </h4>
            {% else %}
                <h4>
                    Looks like nobody has asked any questions recently about the topics you follow.
                </h4>
                <h4>
                    <a href="{% url homepage %}">Check out</a> the latest questions instead to see what's active!
                </h4>
            {% endif %}
        {% endif %}
    {% endif %}
    {% endblock %}
