{% extends "v2/base.html" %}
{% load question_list_tags %}
{% load extra_tags %}

{% block title %}Homepage{% endblock %}
{% block head %}
{# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}
{% block page_class %}home-page{% endblock %}

{% block content %}
<div id="block-content" class="full-height">

    {% block left-column %}
    <!-- left column -->
    <div class="col-left col-sidebar span3">

      <div id="home-upper-user">
        <div class="avatar">{% avatar user 125 %}</div>
      </div>
      
      <div id="home-lower-user">
        <span class="arrow-down"></span>
        
        <h4 class="text-light"><a class="text-light" href="{{ user.get_profile_url }}">{{ user.real_name|default:"You" }}</a>
          <span class="text-light">{{ user.location }}</span></h4>
        <p>
            
            {% if user.headline %}
                <span class="text-light">{{ user.headline }}</span>
            {% else %}
                <span><a href="{{ user.get_profile_url }}" class="profile-link text-light">View your profile page</a></span>
            {% endif %}
        </p>

        <!-- user stats -->
        {% block user_stats %}{% endblock %}

        <!-- sidebar -->
        {% block sidebar %}{% endblock %}
        
      </div>

    </div><!--/.col-left -->
    {% endblock %}


    <!-- right column -->
    <div class="col-right col-main list-questions {% block right-column-style %}span9{% endblock %}">

          <div id="home-top-search">
              <!-- search form -->
              <h2>{% block search_prompt %}{% endblock %}</h2>
              <form  id="topsearch" action="{% url search_questions %}" method="get" class="form-search">
                  <div id="searchbox" class="input-prepend input-append clearfix">
                    <span class="add-on"><span class="icon-search"></span></span>
                    <input class="input-xlarge" id="keywords" name="q" value="{{ keywords }}" placeholder="Search for a career topic..." type="text">
                    <input type="submit" class="btn-large btn bold" name="Submit" value="Search" />
                  </div>
                  <span id="searchoptions" style="display: none;">
                      <input id="type-question" type="radio" value="question" name="t" 
                          checked="checked" /><label for="type-question">Questions</label>
                      <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics</label>
                      <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">Users</label>
                  </span>
                  {% comment %}{# The unanswered only flag isn't working yet. Issue #265 #}
                  {% block unanswered_only %}{% endblock %}
                  {% endcomment %}
              </form>
            </div>
            <span id="searchoptions" style="display: none;">
                <input id="type-question" type="radio" value="question" name="t" 
                    checked="checked" /><label for="type-question">Questions</label>
                <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics</label>
                <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">Users</label>
            </span>
            {% comment %}{# The unanswered only flag isn't working yet. Issue #265 #}
            {% block unanswered_only %}{% endblock %}
            {% endcomment %}
        </form>


        <span class="arrow-down"></span>

        {% if user.is_educator or user.is_professional %}
            {% if relevant or tag %}
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Filters <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li {% if unanswered %}class="disabled"{% endif %}>
                            <a tabindex="-1" href="{% if relevant %}{% url relevant_unanswered %}{% elif tag %}{% url tag_questions_unanswered tag %}{% endif %}">Unanswered</a>
                        </li>

                        <li {% if not unanswered %}class="disabled"{% endif %}>
                            <a tabindex="-1" href="{% if relevant %}{% url relevant %}{% elif tag %}{% url tag_questions tag %}{% endif %}">No filters (all questions)</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}

        <ul class="nav nav-tabs bold">
            <li{% if not relevant and not keywords and not tag and not unanswered %} class="active"{% endif %}><a href="/home">Latest questions</a></li>
            {% if user.is_authenticated %}
                <li{% if relevant %} class="active"{% endif %}><a href="/relevant">Relevant for you</a></li>
            {% endif %}
            <li{% if unanswered and not relevant and not tag %} class="active"{% endif %}><a href="/unanswered">Unanswered</a></li>
            {% if keywords %}
                <li class="active"><a href="/home">Search results</a></li>
            {% elif tag %}
                <li class="active"><a href="/home">Tagged with "{{ tag }}"</a></li>
            {% endif %}
        {% block askquestion %}{% endblock %}
        </ul>

        <!-- search results header -->

{% comment %}
        {% if keywords %}
            <h3 class="section-header">Questions related to {{ keywords }}</h3>
        {% endif %}
{% endcomment %}

        <!-- search results -->
        <div class="items">
            {% for question in questions.paginator.page %}
            {% question_list_item question %}
            {% endfor %}
        </div>
        {% if questions %}
            <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
        {% endif %}
        <div class="pagination pagination-centered">{{ questions.paginator.page_numbers }}</div>

        <!-- message below search results + not found -->
        {% block append_results %}
        {% endblock %}
    
    </div><!--/.col-right -->


</div><!--/#block-content.row-fluid -->
{% endblock %}