{% extends "v2/settings_base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}

{% block accountactive %}
active
{% endblock %}

{% block settings_content %}

    <h4 class="subtitle">Edit your account</h4>
    
    <form class="form-horizontal" name="" action="{% url settings_account %}" method="post">
        <div class="control-group{% if form.realname.errors %} error{% endif %}">

            <label class="control-label" for="">First name</label>
            <div class="controls">
                {{ form.first_name }}
                <span class="form-error help-block">
                    {{ form.first_name.errors }}
                </span> 
            </div>

            <label class="control-label" for="">Last name</label>
            <div class="controls">
                {{ form.last_name }}
                <span class="form-error help-block">
                    {{ form.last_name.errors }}
                </span>
            </div>
        </div>
        <div class="control-group{% if form.email.errors %} error{% endif %}">
            <label class="control-label" for="">Email</label>
            <div class="controls">
                {{ form.email }}
                <span class="form-error help-block">
                    {{ form.email.errors }}
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{% trans "Save" %}" class="submit btn btn-success" >          
            </div>
        </div>
    </form>
    
{% endblock %}