<!-- _all_answers.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}

{% if answers %}<!-- There are answers -->

    <section class="items">

        <!-- Answers header (results count, etc.) -->
        <div class="row-fluid">
            <div class="offset2 span7">
                <div class="answer-buttons" style="margin:20px 0">
                    <button class="btn btn-success">I can answer this question!</button>
                    <button class="btn btn-success">I know someone else who can!</button>
                </div>
                <h4>{{ question.answer_count }} answers:</h4>
                {{ answers.paginator.page_numbers }}
                <hr />
            </div>
        </div>
        

    {% for answer in answers.paginator.page %}
        <article class="row-fluid">

            <!-- Answer like section -->
            <div class="span2">

                <div class="like-widget">
                    <h3>{{ question.score }}</h3>
                    <span class="thumbs-up"></span>
                    <a id="post-{{ post.id }}-upvote" title="I like this post (click again to cancel)"
                    class="btn {% ifequal user_vote "up" %}on{% endifequal %}"
                     href="{% url vote_post id=question.id,vote_type='up' %}" rel="nofollow">Like this</a>
                </div><!--/.like-section -->
    
            </div>
            
            
            <!-- Answer user and body content section -->
            <div class="span7">
                
                <div><a href="{{ answer.user.get_profile_url }}">{{ answer.user.real_name }}</a></div>
                <div>{{ answer.user.about }}</div>
                <div>{{ answer.user.location }}</div>
                <div>{{ answer.user.industry }}</div>
                <div>Last updated {% diff_date answer.last_activity_at %}</div>
                <div><a href="{{ answer.user.get_profile_url }}"><img src="">{% gravatar answer.user 64 %}</a></div>

                <!-- Answer body -->
                {{ answer.html|safe }}

                <!-- Answer comments -->
                {% v2comments answer request.user %}
                
                
            </div>
            
            <!-- Answer special comment section -->
            <div class="span3">
            
                <!-- Right side (differs for each user type) -->
                {% v2comments_rightside answer request.user %}

            </div>
            
        </article>    
    {% endfor %}
    </section><!--/.items -->
    
{% else %}<!-- No answers yet -->

    <h2>Be the first one to answer this question!</h2>

{% endif %}
