<!-- _all_answers.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}

{% if answers %}<!-- There are answers -->

    <section class="row-fluid">        

    {% for answer in answers.paginator.page %}
        <article class="row-fluid answer responsive">
            
            <div class="span2 left">

                <!-- Like section -->
                {% vote_buttons_v2 answer request.user %}
                <!--/.like-section -->
            
            </div><div class="span7 center">
        
                <!-- Answer user and body content section -->
                <div class="answer-body">

                    <div class="answer-user">
                        <a class="pull-left" href="{{ user.get_profile_url }}">
                            <span class="avatar avatar-medium"><img class="media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" /></span>
                        </a>
                        {% if user.is_staff or user == answer.user %}
                            <span class="pull-right">
                                <a href="{% url edit_answer answer.pk %}" class="btn">Edit</a>
                                <a href="{% url delete_post answer.pk %}" class="btn btn-danger">Delete</a>
                            </span>
                        {% endif %}
                        <div class="media-body">
                            <h5>
                                <a href="{{ answer.user.get_profile_url }}">{{ answer.user.real_name }}</a>
                                <span class="text-light">{{ answer.user.about }}</em></span><br />
                                <span class="text-subtext">{{ answer.user.location }}</span>
                                <span class="text-subtext">{{  answer.user.industry  }}</span>
                                <span class="text-subtext">Last updated {% diff_date answer.last_activity_at %}</span>
                            </h5>
                        </div>
                    </div>

                    <!-- Answer body -->
                    <div class="answer-content">
                        {{ answer.html|safe }}
                    </div>

                    <!-- Answer comments -->
                    <div class="answer-comments">
                        {% v2comments answer request.user %}
                    </div>
            
                </div><!--/.answer -->

            </div><div class="span3 right">
            
                &nbsp;
                <!-- Right side (differs for each user type) -->
            
            </div>
            
        </article><!--/.answer -->

    {% endfor %}
    </section><!--/.items -->
    
{% else %}<!-- No answers yet -->



{% endif %}
