{% load extra_tags %}
{% load i18n %}
{% load i18n %}

            <div id="comments-container-{{ post.id }}">

                <h4>{{ comments|length }} Comment(s)</h4>
                {% for comment in comments %}
                    <div id="comment-{{comment.id}}">
                        <a class="pull-left" href="{{ user.get_profile_url }}">
                            <span class="avatar avatar-small">{% avatar comment.user 64 %}</span>
                        </a>
                        <div class="media-body">
                            <h5><a href="{{ user.get_profile_url }}">{{ user.real_name }}</a></h5>
                            <span class="comment-date">{% diff_date comment.added_at %}</span>
                            <p class="comment-text">{{comment.comment}}</p>
                        </div>
                    </div>
                {% endfor %}

                {% if user.is_anonymous %}
                    <div><a class="btn btn-success" href="">To like this answer or comment on it, please login now</a></div>
                {% else %}
                    <div class="new-comment">
                        <a class="comment-author-pic avatar avatar-small" href="{{ answer.user.get_profile_url }}">{% gravatar user 64 %}</a>
                        <a class="comment-author" href="{{ answer.user.get_profile_url }}">{{ user.real_name }}</a>

                        <!-- new comment form -->
                        <form id="comment-{{ post.id }}-form" method="post" action="{% url comment id=post.id %}" accept-charset="utf-8">
                            <textarea name="comment" class="" placeholder="comment..."></textarea>
                            <input type="submit" style="display:none;" value="comment" />
                        </form>

                    </div>
                {% endif%}

            </div>
