<!-- _question_top.html -->
<div id="question" class="row-fluid">
        
    <!-- Question like section -->
    <div class="like-widget">
        <h3>{{ question.score }}</h3>
        <span class="thumbs-up"></span>
        <a id="post-{{ post.id }}-upvote" title="I like this post (click again to cancel)"
        class="btn {% ifequal user_vote "up" %}on{% endifequal %}"
         href="{% url vote_post id=question.id,vote_type='up' %}" rel="nofollow">Like this</a>
    </div><!--/.like-section -->

    <!-- Question description section -->
    <div class="span7">
        <h1 class="text-medium question-title">{{ question.headline }}</h1>
        <h2 class="text-medium question-body">{{ question.html|safe }}{# TODO remove placeholder content #}I am a senior in high school, and I want to double major in English and buisness. I want to know what the best colleges are, and the requirements to get into the schools.</h2>
        <h6 class="text-light">Question Topics:</h6>
        <div class="tags">
            {% for tag in question.tagname_list %}
                <a href="{% url tag_questions tag|urlencode %}" class="post-tag tag-link-{{ tag }}" rel="tag"><span class="badge">{{ tag }}</span></a>
            {% endfor %}
        </div>
    </div>

    <!-- STUDENT PROFILE INFO !-->
    <div class="span3 student-profile-section span">
        <h4 class="question-asker">
            <a href="{{ question.user.get_profile_url }}"><img class="profile-img media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" /></a>
            <a href="{{ question.user.get_profile_url }}">{{ question.user.real_name }}</a>
        </h4>


        <div class="profile">

            <div class="profile-stats">
                <div class="row-fluid">    
                    <div class="box span6">
                        <h3>{{ user.reputation }}</h3>
                        <p>Karma</p>
                    </div>
                    <div class="box span6">
                        <h3>{# TODO user.questions? #}88</h3>
                        <p>Questions</p>
                    </div>
                </div>
            </div>

        </div>

        <img class="profile-img media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" />
        <div><a href="{{ question.user.get_profile_url }}"><img src=""><!-- User profile pic !--></a></div>
        <div><a href="{{ question.user.get_profile_url }}">{{ question.user.real_name }}</a></div>
        <div>{{ question.user.location }}</div>
        <div>Posted on {{ question.added_at }}</div>
        <div>See something that looks wrong? <a href=""><!-- Should open a modal! -->Flag for review</a></div>
    </div>

</div><!--/#question -->