{% load i18n %}


    <div class="like-widget {% ifequal user_vote 'up' %}on{% endifequal %}">
            <h3>{{ post.score }}</h3>
            <span class="thumbs-up"></span>
            <a id="post-{{ post.id }}-upvote" title="I like this post (click again to cancel)"
            class="like-question-button btn"
             href="{% url vote_post id=post.id,vote_type='up' %}" rel="nofollow">Like this</a>
             <div class="follow-question" style="opacity:.1">
                 <hr style="margin:5px 0 3px 0"/>
                 <button class="follow-question-button btn"><span class="icon-star"></span> follow</button>
            </div>
        </div>