{% extends "v2/base.html" %}
<!-- template v2/about.html -->
{% load i18n extra_tags extra_filters %}
{% block title %}{% spaceless %}{% trans "For professionals - CareerVillage" %}{% endspaceless %}{% endblock %}
{% block content %}
    <div>
        <div>
            <h1>Become a donor to one of the most innovative new learning models on the block</h1>
        </div>
    </div>
    <div>
        <div>
            <h3>In order to do what we do, we need you in our corner</h3>
            FooBar
        </div>
        <div>
            <h3>How CareerVillage works</h3>
            FooBar
        </div>
        <div>
            <h3>How you can make a difference right now</h3>
            FooBar
        </div>
        <div>
            <h2>Support CareerVillage today</h2> 
<!-- MORE TO COME HERE
 -->
        </div>
        <div>
            <h2>Join supporters like these...</h2> 
<!-- MORE TO COME HERE
 -->
        </div>
        <div>
            <h2>About our team</h2> 
<!-- MORE TO COME HERE
 -->
        </div>
    </div>
{% endblock %}
<!-- end template v2/about.html -->