{% extends 'v2/base.html' %}
{% load i18n node_tags extra_tags %}

{% block head %}
    <link rel="stylesheet" href="{% media "/media/style/zocial.css" %}">
{% endblock %}
{% block title %}{% spaceless %}{% trans "Login or Signup" %}{% endspaceless %}{% endblock %}
{% block content %}
    <div id="signup-signin" class="row-fluid">

        <!-- students & teachers -->
        <div class="offset1 span5">
            <div class="students-container">
                <h1>Students &amp; Teachers</h1>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">{% trans 'Already have an account' %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans 'Signup!' %}</a>
                    </li>
                </ul>
                <div class="signin-tab">
                    {% if msg %}
                        <div class="alert alert-error">{{ msg }}</div>
                    {% endif %}
                    <form class="form-horizontal signin-form" action="{% url auth_provider_signin provider='local' %}" method="POST">
                        <input type="hidden" class="validate_email" name="validate_email" value="yes" />
                        <div class="control-group">
                            <label class="control-label" for="emailInput">{% trans 'Email' %}</label>
                            <div class="controls">
                                <input name="username" type="text" id="emailInput">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="passwordInput">{% trans 'Password' %}</label>
                            <div class="controls">
                                <input name="password" type="password" id="passwordInput">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">

                                <button type="submit" class="btn pull-right">{% trans 'Login' %}</button>
                                <a class="pull-right forgot-password subtle" href="#">{% trans 'Forgot your password?' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-tab">
                    <div class="user-type">
                        <div class="user-icon student"></div>
                        <a class="btn" href="{% url auth_signup_student %}?next={{ request.GET.next }}">{% trans "I'm a student" %}</a>
                    </div>
                    <div class="user-type">
                        <div class="user-icon educator"></div>
                        <a class="btn" href="#">{% trans "I'm an educator" %}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- professionals -->
        <div class="span5">
            <div class="professionals-container">
                <h1>{% trans 'Professionals' %}</h1>
                <p class="gray-bold">{% trans 'For first timers AND veterans...' %}</p>
                <a href="{% url auth_provider_signin provider='linkedin' %}" class="zocial linkedin">{% trans 'Login with Linkedin' %}</a>
                <a class="subtle no-linkedin" href="#" target="_blank">
                    {% trans "Don't have a linkedin account?" %}
                </a>
                {% blocktrans %}
                    <p>
                        <span class="bold">Logging in with LinkedIn helps student know that your advice is trustworthy.</span>
                        We use your publicly available LinkedIn profile to show the students who is answering their questions.
                        We only display four things: your name, photo, city and industry.
                    </p>
                    <p>
                        <span class="bold">What stays private.</span>
                        We never show anyone your email address. We only use that to inform you when there are questions
                        relevant to your expertise.
                    </p>

                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}
