{% extends 'v2/base.html' %}

{% load i18n node_tags extra_tags %}

{% block content %}
    <div class="row-fluid" id="signup-student">
        <div class="offset3 span6">
            <h2>{% trans "Welcome! Let's setup your profile." %}</h2>

            <form class="form-horizontal" method="post">
                <p class="bold">{% trans 'This is what you will sign into CareerVillage with' %}</p>
                {% include 'v2/_form_field.html' with field=form.email label="your email address" %}
                {% include 'v2/_form_field.html' with field=form.password label="Create a password" %}
                <div class="control-group">
                    <label class="control-label" for="id_{{ form.password2.html_name }}">
                        {% trans 'Confirm your password' %}
                    </label>
                    <div class="controls">
                        <input type="password" name="{{ form.password2.html_name }}">
                    </div>
                </div>

                <p class="bold">{% trans 'Fill out your profile information' %}</p>
                <div class="avatar-selector">
                    <input type="hidden" name="{{ form.avatar_image.html_name }}" value="">
                    <img class="img-polaroid" src="{% media "/media/img/example_avatars/pixel_geek_m_hispanic.png" %}">
                    <button class="btn">{% trans 'Change' %}</button>
                </div>
                {% include 'v2/_form_field.html' with field=form.first_name %}
                {% include 'v2/_form_field.html' with field=form.last_name %}
                {% include 'v2/_form_field.html' with field=form.location label="Your City" %}

                <div class="control-group">
                    <p class="radio-label">{% trans 'What grade are you in?' %}</p>
                    {% for grade in form.available_grades %}
                        <label class="radio inline" for="id_grade_{{ grade }}">
                            <input id="id_grade_{{ grade }}" type="radio" name="grade">
                            {{ grade }}
                        </label>
                    {% endfor %}
                </div>

                <input class="btn btn-success btn-wide" type="submit" value="{% trans "Save my profile. I'm ready to start my career research!" %}">


            </form>


        </div>
    </div>
{% endblock %}