<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ settings.FACEBOOK_APP_NAMESPACE }}: http://ogp.me/ns/fb/{{ settings.FACEBOOK_APP_NAMESPACE }}#">
{% load i18n extra_tags extra_filters markup ui_registry %}
<title>CareerVillage - {% block title %}{% endblock %}</title>
<meta name="author" content="">
<meta name="date" content="">
<meta name="copyright" content="">
<meta name="keywords" content="{% block metakeywords %}{{ settings.APP_KEYWORDS }}{% endblock %}">
<meta name="description" content="{% block metadescription %}{{ settings.APP_DESCRIPTION }}{% endblock %}">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="{% media "/media/bootstrap_2.3.1/css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
<link href="{% media "/media/style/animate/animate.css" %}" rel="stylesheet" type="text/css" />
<link href="{% media "/media/style/style_v2.css" %}" rel="stylesheet" type="text/css" />
{% block head %}{% endblock %}
<!--[if lt IE 9]>
<script src="{% media "/media/js/html5shiv.js" %}">
<![endif]-->

</head>
<body>

<nav id="main-nav" class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div><!-- center -->
            <div class="container-fluid">
                <a href="/home/" class="brand">(CareerVillage Logo)</a>
                <ul class="nav pull-right">
                    {% if user.is_superuser %}
                        <li><a href="{% url admin_index %}">Admin</a></li>
                    {% endif %}
                    {% if user.type == "E" %}
                        <li><a href="{% url user_cohorts user.id user.username %}">Dashboard</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="{{ user.get_profile_url }}">{{ user.real_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="{{ user.get_profile_url }}">Your profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url settings_account %}">Account</a></li>
                                <li><a href="{% url settings_password %}">Password</a></li>
                                <li><a href="{% url settings_notifications %}">Notifications</a></li>
                                <li><a href="{% url settings_following_topics %}">Topics you follow</a></li>
                                <li><a href="{% url settings_social_networks %}">Social networks</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url about %}">About</a></li>
                        <li><a href="{% url user_signout %}?next={{ request.get_full_path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url about %}">About</a></li>
                        <li><a href="{% url auth_signin %}?next={{ request.get_full_path }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="main-body" class="clearfix">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div><!--/.container-fluid -->
</div><!--/#main -->

<footer id="main-footer" class="clearfix">
    <div><!-- center -->
        <div class="container-fluid">
            <div class="row-fluid">
                <div style="text-align:right; line-height:32px">
                    <a class="logo pull-left"><img style="height:32px" src="{% media "/media/img/CareerVillageLogo_1.png" %}" /></a>
                    <a href="/about/">About</a> <span class="divider"></span> <a href="/faq/">FAQ</a> <span class="divider"></span> <a href="/privacy/">Privacy</a> <span class="divider"></span> <a href="mailto: team@careervillage.org" target="_blank">Support</a> <span class="divider"></span> <a href="mailto: team@careervillage.org">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block confirmation %}{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% media "/media/bootstrap_2.3.1/js/bootstrap.js" %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<!-- Facebook settings -->
<script type="text/javascript">
    var FB_COMMAND_URL = "{% url facebook %}";
    var FB_FAILURE = "Cannot use the current Facebook account.";
</script>

<script src="{% media "/media/js/v2.js" %}"></script>

{% block scripts %}{% endblock %}
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ settings.FACEBOOK_APP_ID }}',
            channelUrl : '{{ settings.APP_URL }}/channel.html',
            status     : true,
            xfbml      : true,
            cookie     : true,
            oauth      : true
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>