{% extends "v2/homepage_base.html" %}


{% block search_prompt %}
    What do you have questions about?
    {% endblock %}

{% block skipsearch %}
    <div>
        <a href="{% url auth_signin %}">
            Login to ask a question
        </a>
    </div>
    {% endblock %}

{% block unanswered_only %}
    {# Empty for Students #}
    {% endblock %}

{% block append_results %}
    {# appears just below search results #}
    {% if questions %}
    {% else %}
        <h4>
            Looks like we don't have a question about that yet. <a href="{% url auth_signin %}">Login to ask a question!</a>
        </h4>
    {% endif %}
    {% endblock %}