{% extends "v2/base.html" %}
{% load question_list_tags %}
{% load extra_tags %}

{% block head %}
	{# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}

{% block content %}
<div id="block-content" class="row-fluid">
    
    
    <!-- left column -->
    <div class="col-left col-sidebar span3">

        <!-- profile picture and summary info -->
        <div class="media profile">
            <!--<div class="update-link"><a href="{# TODO update profile link #}">update</a></div>-->
            <a class="pull-left" href="{{ user.get_profile_url }}">
                <img class="profile-img media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" />
            </a>
            <div class="media-body">
                <h5><a href="{{ user.get_profile_url }}">{{ user.real_name }}</a></h5>
                <p>
                    <span>{# TODO user.headline (for professionals, wrap in if statement) #} Startup founder and social entrepreneur; TED-ster by night</span><br />
                    <span class="text-light">{# TODO user.location #} Houston, TX</span><br />
                    <span class="text-light">{# TODO user.industry (for professionals, wrap in if statement) #} Healthcare</span>
                </p>
            </div>
        </div>

        <!-- user stats -->
        {% block user_stats %}{% endblock %}

        <!-- sidebar -->
        {% block sidebar %}{% endblock %}

    </div><!--/.col-left -->


    <!-- right column -->
    <div class="col-right col-main list-questions span9">

        <!-- search form -->
        <h2>{% block search_prompt %}{% endblock %}</h2>
        <form  id="topsearch" action="{% url search_questions %}" method="get" class="form-search">
            <div class="input-append">
              <input class="input-xxlarge" id="keywords" name="q" value="{{ keywords }}" type="text">
              <input type="submit" class="btn" name="Submit" value="search" />
            </div>
            <span id="searchoptions" style="display: none;">
                <input id="type-question" type="radio" value="question" name="t" 
                    checked="checked" /><label for="type-question">Questions</label>
                <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics</label>
                <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">Users</label>
            </span>
        </form>
        {% if keywords %}
            <div>Questions related to {{ keywords }}</div>
        {% else %}
            <div>Latest questions</div>
        {% endif %}

        {% block skipsearch %}{% endblock %}

        {% block unanswered_only %}{% endblock %}

        <h4>Latest questions</h4> 

        <!-- search results -->
        <div class="items">
            {% for question in questions.paginator.page %}
                {% question_list_item question %}
            {% endfor %}
        </div>

        <!-- message below search results + not found -->
        {% block append_results %}{% endblock %}
    
    </div><!--/.col-right -->


</div><!--/#block-content.row-fluid -->
{% endblock %}