{% extends "v2/homepage_base.html" %}

{% block user_stats %}

<div>
    <div>
        <div>{{ user.reputation }}</div>
        <div>Karma</div>
    </div>
    <div>
        <div>88</div>
        <div>Questions</div>
    </div>
</div>

{% endblock %}

{% block search_prompt %}
    What do you have questions about?
    {% endblock %}

{% block skipsearch %}
    <div>
        <a href="{% url ask %}">
            Or skip straight to asking a new question...
        </a>
    <div>
    {% endblock %}

{% block unanswered_only %}
    {# Empty for Students #}
    {% endblock %}
