{% extends "v2/base.html" %}
{% load question_list_tags %}
{% load extra_tags %}

{% block head %}
{% block title %}CareerVillage Homepage{% endblock %}
{# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}

{% block content %}
<div id="block-content" class="row-fluid">

    {% if user.is_authenticated %}
    <!-- left column -->
    <div class="col-left col-sidebar span3">

        <!-- profile picture and summary info -->
        <div class="media profile">
            <!--<div class="update-link"><a href="{# TODO update profile link #}">update</a></div>-->
            <a class="pull-left" href="{{ user.get_profile_url }}">
                {% avatar user 128 %}
            </a>
            <div class="media-body">
                <h5><a href="{{ user.get_profile_url }}">{{ user.real_name }}</a></h5>
                <p>
                    <span>{{ user.headline }}</span><br />
                    <span class="text-light">{{ user.location }}</span><br />
                    <span class="text-light">{{ user.headline }}</span>
                </p>
            </div>

            <!-- user stats -->
            {% block user_stats %}{% endblock %}

        </div>

        <!-- sidebar -->
        {% block sidebar %}{% endblock %}

    </div><!--/.col-left -->
    {% endif %}


    <!-- right column -->
    <div class="col-right col-main list-questions {% if user.is_authenticated %}span9{% else %}span12{% endif %}">

        <!-- search form -->
        <h2>{% block search_prompt %}{% endblock %}</h2>
        <form  id="topsearch" action="{% url search_questions %}" method="get" class="form-search">
            <div class="input-append input-prepend" style="width:100%">
              <span class="add-on" style="height:34px; line-height:34px;"><span class="icon-search"></span></span>    
              <input style="width:70%; height:34px; line-height:34px; font-size:18px" class="input-xlarge" id="keywords" name="q" value="{{ keywords }}" placeholder="your career topic..." type="text">
              <input type="submit" class="btn-large btn" name="Submit" value="search" />
            </div>
            <span id="searchoptions" style="display: none;">
                <input id="type-question" type="radio" value="question" name="t" 
                    checked="checked" /><label for="type-question">Questions</label>
                <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics</label>
                <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">Users</label>
            </span>
            {% comment %}{# The unanswered only flag isn't working yet. Issue #265 #}
            {% block unanswered_only %}{% endblock %}
            {% endcomment %}
        </form>


        <ul class="nav nav-tabs">
            <li{% if not relevant and not keywords %} class="active"{% endif %}><a href="/home">Latest questions</a></li>
            {% if user.is_authenticated %}
                <li{% if relevant %} class="active"{% endif %}><a href="/relevant">Relevant for you</a></li>
            {% endif %}
            {% if keywords %}
                <li class="active"><a href="/home">Search results</a></li>
            {% elif tag %}
                <li class="active"><a href="/home">{{ tag }}</a></li>
            {% endif %}
        {% block askquestion %}{% endblock %}
        </ul>

        <!-- search results header -->

{% comment %}
        {% if keywords %}
            <h3 class="section-header">Questions related to {{ keywords }}</h3>
        {% endif %}
{% endcomment %}

        <!-- search results -->
        <div class="items">
            {% for question in questions.paginator.page %}
                {% question_list_item question %}
            {% endfor %}
        </div>
        {% if questions %}
            <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
        {% endif %}
        <div class="pagination pagination-centered">{{ questions.paginator.page_numbers }}</div>

        <!-- message below search results + not found -->
        {% block append_results %}
        {% endblock %}
    
    </div><!--/.col-right -->


</div><!--/#block-content.row-fluid -->
{% endblock %}