{% extends "v2/base.html" %}
{% load question_list_tags %}
{% load extra_tags %}

{% block head %}
	{# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}

{% block content %}
<div id="block-content" class="row-fluid">
    
    
    {% if user.is_authenticated %}
    <!-- left column -->
    <div class="col-left col-sidebar span3">

        <!-- profile picture and summary info -->
        <div class="media profile">
            <!--<div class="update-link"><a href="{# TODO update profile link #}">update</a></div>-->
            <a class="pull-left" href="{{ user.get_profile_url }}">
                <img class="avatar media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" />
            </a>
            <div class="media-body">
                <h5><a href="{{ user.get_profile_url }}">{{ user.real_name }}</a></h5>
                <p>
                    <span>{# TODO user.headline (for professionals, wrap in if statement) #} Startup founder and social entrepreneur; TED-ster by night</span><br />
                    <span class="text-light">{# TODO user.location #} Houston, TX</span><br />
                    <span class="text-light">{# TODO user.industry (for professionals, wrap in if statement) #} Healthcare</span>
                </p>
            </div>

            <!-- user stats -->
            {% block user_stats %}{% endblock %}

        </div>

        <!-- sidebar -->
        {% block sidebar %}{% endblock %}

    </div><!--/.col-left -->
    {% endif %}


    <!-- right column -->
    <div class="col-right col-main list-questions {% if user.is_authenticated %}span9{% else %}span12{% endif %}">

        <!-- search form -->
        <h2>{% block search_prompt %}{% endblock %}</h2>
        <form  id="topsearch" action="{% url search_questions %}" method="get" class="form-search">
            <div class="input-append input-prepend" style="width:100%">
              <span class="add-on" style="height:34px; line-height:34px;"><span class="icon-search"></span></span>    
              <input style="width:70%; height:34px; line-height:34px;" class="input-xlarge" id="keywords" name="q" value="{{ keywords }}" placeholder="your career topic..." type="text">
              <input type="submit" class="btn-large btn" name="Submit" value="search" />
            </div>
            <span id="searchoptions" style="display: none;">
                <input id="type-question" type="radio" value="question" name="t" 
                    checked="checked" /><label for="type-question">Questions</label>
                <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">Topics</label>
                <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">Users</label>
            </span>
            {% block unanswered_only %}{% endblock %}
        </form>

        {% block skipsearch %}{% endblock %}

        <!-- search results header -->
        {% if keywords %}
            <h3 class="section-header">Questions related to {{ keywords }}</h3>
        {% else %}
            <h3 class="section-header">Latest questions</h3> 
        {% endif %}
        <hr />

        <!-- search results -->
        <div class="items">
            {% for question in questions.paginator.page %}
                {% question_list_item question %}
            {% endfor %}
        </div>
        <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
        <div class="pagination pagination-centered">{{ questions.paginator.page_numbers }}</div>

        <!-- message below search results + not found -->
        {% block append_results %}
        {% endblock %}
    
    </div><!--/.col-right -->


</div><!--/#block-content.row-fluid -->
{% endblock %}