{% extends "v2/homepage_base.html" %}


{% block user_stats %}
<div class="profile-stats">
    <div class="row-fluid">    
        <div class="box span4">
            <h3>{{ user.reputation }}</h3>
            <p>Karma</p>
        </div>
        <div class="box span4">
            <h3>{# TODO user.answers? #}88</h3>
            <p>Answers</p>
        </div>
        <div class="box span4">
            <h3>{# TODO user.referrals? #}73</h3>
            <p>Referrals</p>
        </div>
    </div>
</div>
{% endblock %}


{% block search_prompt %}
    What do you want to answer questions about?
{% endblock %}


{% block skipsearch %}
    {# Empty for Pros #}
{% endblock %}


{% block unanswered_only %}
    <label>
        <input type="checkbox"/> Only unanswered questions
    </label>
{% endblock %}


{% block append_results %}
    {# appears just below search results #}
{% endblock %}