{% extends "v2/homepage_base.html" %}


{% block user_stats %}
<div class="profile-stats">
    <div class="row-fluid">    
        <div class="box span6">
            <h3>{{ user.reputation }}</h3>
            <p>Karma</p>
        </div>
        <div class="box span6">
            <h3>{# TODO user.questions? #}88</h3>
            <p>Questions</p>
        </div>
    </div>
</div>
{% endblock %}


{% block search_prompt %}
    {# appears at the top of the main column #}
    What do you have questions about?
{% endblock %}


{% block skipsearch %}
    {# appears just below search form #}
    <div class="search-subtext">
        <a href="{% url ask %}">
            Or skip straight to asking a new question...
        </a>
    </div>
    {% endblock %}

{% block unanswered_only %}
    {# Empty for Students #}
    {% endblock %}


{% block append_results %}
    {# appears just below search results #}
    {% if questions %}
        <h4>
            Don't see your question here? <a href="{% url ask %}">Ask your question now!</a>
        </h4> 
    {% else %}
        <h4>
            Looks like we don't have a question about that yet. <a href="{% url ask %}">Ask your question now!</a>
        </h4>
    {% endif %}
    {% endblock %}
