{% extends "v2/base.html" %}
{% load question_list_tags %}
{% load extra_tags %}

{% block title %}{{ view_user.real_name }}'s profile{% endblock %}
{% block head %}
	{# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}

{% block content %}

<header class="row-fluid profile-page">

    <div class="span8">
        <div class="avatar avatar-large pull-left media-object">
            {% avatar view_user 128 %}
        </div>
        <div class="media-body">
            <h1>{{ view_user.real_name }}</h1>
            <h2 class="text-medium">
                {% if view_user.is_student %}Student<br />{% endif %}
                {{ view_user.headline }}<br />
                {{ view_user.location }} {% if view_user.industry %}&bull;
                {{ view_user.industry }} {% endif %}
            </h2>
        </div>
    </div>
    
    <div class="span4">
        {% block user_stats %}{% endblock %}
    </div>
        
</header>

<hr />

<div id="block-content" class="row-fluid profile-page">
    
    <!-- left column -->
    <div class="col-left col-sidebar span3">

        <div class="about sidebar-widget">
            <h5>About Me</h5>
            <p>I'm one of the founders of CareerVillage. I care a lot about helping students get career advice, and I really love it when professionals enjoy volunteering. I want to bring CareerVillage to every single high school student in America. If you have any suggestions that will help me make your experience better, please don't hesitate to let me know. I'm always available at jared@careervillage.org.</p>
        </div>
        <div class="topics sidebar-widget">
            <h5>Topics I Follow</h5>
            <div class="tags">
                {% for tag in followed_tags %}
                    <a class="badge tag-link-{{ tag.tag }}" href="{% url tag_questions tag.tag|urlencode %}" title="see questions tagged '{{ tag.tag }}'" rel="tag">{{ tag.tag }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="topics sidebar-widget">
            <h5>Topics I'm Active On</h5>
            <div class="tags">
                {% for tag in user_tags %}
                    <a class="badge tag-link-{{ tag.name }}" href="{% url tag_questions tag|urlencode %}" title="see questions tagged '{{ tag.name }}'" rel="tag">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div><!--/.col-left -->


    <!-- right column -->
    <div class="col-right col-main list-questions span9">

        <h5>My activity on CareerVillage</h5>
        <!-- answers user has interacted with -->
        <div class="items">
            {% for answer in answers.paginator.page %}
                {% question_list_item answer %}
            {% endfor %}
        </div>
        <!-- questions user has interacted with -->
        <div class="items">
            {% for question in questions.paginator.page %}
                {% question_list_item question %}
            {% endfor %}
        </div>
        {% if no_activity %}
            Nothing yet. Still looking for my first opportunity to contribute! 
        {% endif %}

        <!-- message below search results + not found -->

        <!-- Pagination -->
        {% block append_results %}{% endblock %}
        <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
        <div class="pagination pagination-centered">{{ questions.paginator.page_numbers }}</div>
    
    </div><!--/.col-right -->


</div><!--/#block-content.row-fluid -->
{% endblock %}