{% extends "v2/base.html" %}
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}
{% block metadescription %}{{ question.meta_description }}{% endblock %}
{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}

{% block head %}
    <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}" />
    <meta property="og:type"   content="{{ settings.FACEBOOK_APP_NAMESPACE }}:question" />
    <meta property="og:url"    content="{{ settings.APP_URL }}{% url question id=question.id slug=question.title|slugify %}" />
    <meta property="og:title"  content="{{ question.title }}" />
    <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
{% endblock %}

{% block content %}
    
    <!-- The question -->
    {% include "v2/_question_top.html" %}

    <!-- Answers header (results count, etc.) -->
    <div class="answer-actions">
        {% block answeractions %}{% endblock %}
    </div>
    
    <!-- hidden refer a friend form -->
    <div id="refer-friend-form" class="reveal row-fluid clearfix" style="display:none">
        <form id="fmanswer" action="{% url refer_friend question.id %}" method="post" class="offset2 span9">
            <div class="form-inline clearfix">
                <label for="id_email" style="font-weight:bold">Just enter your friend's email address:</label><br />
                <input type="text" name="email" id="id_email" placeholder="example@example.com">
                <input type="submit"
                    value="Send" 
                    class="submit btn btn-success"/>        
                    <span>+25 Karma</span>
            </div>        
            <div class="referral-email-preview clearfix">
                <label>Preview of the email that will be sent on your behalf:</label>
                <p>
                    From: You<br/>
                    To: Friend<br/>
                    Subject: Career question for you
                </p>
                <p>
                    {{ refer_friend_message|linebreaks }}
                </p>
            </div>
        </form>
    </div>

    <!-- Results Count -->
    <h3 class="section-header">{{ question.answer_count }} answers:</h3>
    {{ answers.paginator.page_numbers }}
    <hr />

    <!-- Answers -->
    {% include "v2/_all_answers.html" with cta_text="Post kudos" %}

    <!-- Answers response (results count, etc.) -->
    <div class="answers-bottom row-fluid">
        {% block answersbottom %}{% endblock %}
    </div>

{% endblock %}