{% extends "v2/base.html" %}
<!-- question_base.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}
{% block metadescription %}{{ question.meta_description }}{% endblock %}
{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}

{% block head %}
    {# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
    <script type="text/javascript">
        function submitClicked(e, f) {
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {
            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }
            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

    </script>
{% endblock %}

{% block content %}
<!-- question details -->
<div id="question" class="row-fluid">

    <!-- question like section -->
    <div class="like-section span2">
        <h5>{{ question.score }}</h5>
        <span class="icon-custom-thumb-up"></span>
        <div>
            <a id="post-{{ post.id }}-upvote" title="I like this post (click again to cancel)"
                class="btn {% ifequal user_vote "up" %}on{% endifequal %}"
                    href="{% url vote_post id=question.id,vote_type='up' %}" rel="nofollow">Like this</a>
         </div>
    </div>
    
    <!-- Question description section -->
    <div class="span7">
        <div>{{ question.headline }}</div>
        <div>{{ question.html|safe }}</div>

        <!-- TOPIC TAGS !-->
        <div>
            {% for tag in question.tagname_list %}
                <a href="{% url tag_questions tag|urlencode %}" class="post-tag tag-link-{{ tag }}"
                    title="See questions tagged '{{ tag }}'" rel="tag">{{ tag }}</a>
            {% endfor %}
        </div>

        <!-- FOLLOWING !-->
        <div>{{ question.favorite_count }} people follow this question</div>
        <div><a href=""><img src=""><!-- Star image !-->Follow this</a></div>
    </div>

    <!-- STUDENT PROFILE INFO !-->
    <div class="span3">
        <div><a href="{{ question.user.get_profile_url }}"><img src=""><!-- User profile pic !--></a></div>
        <div><a href="{{ question.user.get_profile_url }}">{{ question.user.real_name }}</a></div>
        <div>{{ question.user.location }}</div>
        <div>Posted on {{ question.added_at }}</div>
        <div>See something that looks wrong? <a href=""><!-- Should open a modal! -->Flag for review</a></div>
    </div>

</div>

<!-- BEGIN ANSWER SECTION !-->

<!-- First call to action (differs for each user type) !-->
{% block first_call_to_action %}{% endblock %}

<!-- Top of answer section !-->
<div>{{ question.answer_count }} answers:</div>

<!-- Answer details section !-->
<div>
    {% if answers %}<!-- There are answers -->
        {{ answers.paginator.page_numbers }}
        {% for answer in answers.paginator.page %}
            <div>
                <!-- Answer like section -->
                <div>{{ answer.score }}</div>
                <div><img src="" title="Thumbs up"><!-- Thumbs up image goes here !--></div>
                <div>
                    <a id="post-{{ post.id }}-upvote" title="I like this post (click again to cancel)"
                    class="{% ifequal user_vote "up" %}on{% endifequal %}"
                     href="{% url vote_post id=question.id,vote_type='up' %}" rel="nofollow">Like this</a>
                </div>
                
                <!-- Answer user section -->
                <div><a href="{{ answer.user.get_profile_url }}">{{ answer.user.real_name }}</a></div>
                <div>{{ answer.user.about }}</div>
                <div>{{ question.user.location }}</div>
                <div>Last updated {% diff_date question.last_activity_at %}</div>
                <div><a href="{{ answer.user.get_profile_url }}"><img src=""><!-- User profile pic !--></a></div>

                <!-- Answer body -->
                <div>
                    {{ answer.html|safe }}
                </div>

                <!-- Answer comments -->
                <div>
                    {% v2comments question request.user %}
                </div>

                <!-- Right side (differs for each user type) -->
                <div>{% block right_side_message %}{% endblock %}</div>
            </div>
        {% endfor %}
    {% else %}<!-- No answers yet -->
        <div>Be the first one to answer this question!</div>
    {% endif %}
</div>

<!-- Bottom Call To Action section (differs for each user type) !-->
<div>
    {% block bottom_section %}{% endblock %}
    <div><img src=""><!-- Image of graduate on pedestal --></div>
</div>

{% endblock %}
<!-- end question_base.html -->