{% extends "v2/question_base.html" %}

{% block answeractions %}
    <a class="btn btn-large btn-success" href="#your-answer">I can <u>answer</u> this question!</a>
    &nbsp;&nbsp;
    <a class="btn btn-large btn-success" href="">I know <u>someone else</u> who can!</a>
{% endblock %}

{% block answersbottom %}
    <!-- Your Answer -->
    <article id="your-answer" class="answer row-fluid responsive">

        <div class="span2 left">
            &nbsp;
        </div><div class="span7 center">

            <h4 style="margin-top:0px">Your answer to this question:</h4>

            <!-- Answer user and body content section -->
            <div class="answer-body">

                <div class="answer-user">
                    <a class="pull-left" href="{{ user.get_profile_url }}">
                        <span class="avatar avatar-medium"><img class="media-object" src="{# TODO profile image #}//si0.twimg.com/profile_images/2282186333/46xf73u5map5l9eos0xa_bigger.jpeg" /></span>
                    </a>
                    <div class="media-body">
                        <h5>
                            <a href="{{ user.get_profile_url }}">{{ user.real_name }}</a>
                            <span class="text-light">{{ user.about }}</em></span><br />
                            <span class="text-subtext">{{ user.location }}</span>
                            <span class="text-subtext">{{ user.industry  }}</span>
                        </h5>
                    </div>
                </div>

                <!-- Answer body -->
                <div class="answer-content">
                    <form id="fmanswer" action="{% url answer question.id %}" method="post">
                        {% if not question.closed %}
                            <div>
                                {{ answer.text }}
                                {{ answer.text.errors }}
                            </div>
                            <input type="button"
                                value="Submit advice" 
                                class="btn btn-success" style="float:left" onclick="submitClicked(event, this.form)"/>
                            <p><span class="form-error"></span></p>
                        {% endif %}
                    </form>

                </div>

            </div><!--/.answer-body -->
            
        </div><div class="span3 right">
            
            &nbsp;
            <!-- Right side (differs for each user type) -->
            
        </div></article>

    </article><!--/#your-answer -->
{% endblock %}

{% block confirmation %}
    
    {# if referral flag... #}
    {# 
        the classes "init modal-no-box" are custom to CareerVillage
        "init" makes the dialog appear on pageload 
        "modal-no-box" inverts the text color to white so that it's legible without the standard white box
        NOTE: need to uncomment a line in v2.js for this to work (search for .modal.init)
    #}
    <!-- Modal -->
    <div id="referral-success" class="init modal-no-box modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h1>Thanks!</h1>
    </div>
    {# ...endif #}

{% endblock %}