{% extends "v2/base.html" %}
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}

{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}

{% block metadescription %}{{ question.meta_description }}{% endblock %}

{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}

{% block head %}
    {# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEADER #}
    <script type="text/javascript">
        function submitClicked(e, f) {
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {
            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }
            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);

    </script>
{% endblock %}

{% block content %} 

{% include "v2/_question_top.html" %}

<!-- First call to action (differs for each user type) !-->
    <div>
        <a href="{{ question.get_absolute_url }}/new_answer/">I can <u>answer</u> this question!</a>
        <a href="">I know <u>someone else</u> who can!</a>
    </div>

{% include "v2/_all_answers.html" with cta_text="Post kudos" %}

<!-- Bottom Call To Action section (differs for each user type) !-->
<div>
    <div>Now it's time for you to share your advice. What would you want to say to this student to guide them on their path? Can you encourage them to take their academics seriously? Can you warn them of unseen dangers?</div>
    <div>Your answer to this question</div>
    <div>
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            {% if not question.closed %}
                <div>
                    {{ answer.text }}
                    {{ answer.text.errors }}
                </div>
                <input type="button"
                    value="Submit advice" 
                    class="btn btn-success" style="float:left" onclick="submitClicked(event, this.form)"/>
                <p><span class="form-error"></span></p>
            {% endif %}
        </form>
    </div>
    <div>
        <img src=""><!-- Image of graduate on pedestal -->
    </div>
</div>
{% endblock %}