{% extends "v2/question_base.html" %}

{% block first_call_to_action %}
    <div><a href="{% url auth_signin %}">Join our community now to add a comment or answer to this question!</a></div>
{% endblock %}

{% block right_side_message %}
    <input type="text" name="comment" class="">
    <a href="{% url auth_signin %}">Join our community"</a>
{% endblock %}

{% block bottom_section %}
    <div>This is where you come in. If you're a student, you can start asking career questions that will help you prepare for your future. If you're a professional, you can start giving career advice to students who deeply need your advice.</div>
    <div><a href="{% url auth_signin %}">Log in now to comment on or answer this question!</a></div>
{% endblock %}
