{% extends "v2/question_base.html" %}

{% block first_call_to_action %}
    <div>
        <a href="">I can <u>answer</u> this question!</a>
        <a href="">I know <u>someone else</u> who can!</a>
    </div>
{% endblock %}

{% block right_side_message %}
    <form id="comment-{{ answer.id }}-form" method="post" action="{% url comment id=answer.id %}" accept-charset="utf-8">
        <input type="text" name="comment" class="">
        <input type="submit" value="Post kudos" />
    </form>
    <div>+5 Karma</div>
{% endblock %}

{% block bottom_section %}
    <div>Now it's time for you to share your advice. What would you want to say to this student to guide them on their path? Can you encourage them to take their academics seriously? Can you warn them of unseen dangers?</div>
    <div>Your answer to this question</div>
    <div>
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            {% if not question.closed %}
                <div>
                    {{ answer.text }}
                    {{ answer.text.errors }}
                </div>
                <input type="button"
                    value="Submit advice" 
                    class="submit" style="float:left" onclick="submitClicked(event, this.form)"/>
                <p><span class="form-error"></span></p>
            {% endif %}
        </form>
    </div>

{% endblock %}
