{% extends "v2/base.html" %}
<!-- settings_base.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% block title %}{% spaceless %}CareerVillage - User Settings{% endspaceless %}{% endblock %}
{% block metadescription %}Update the settings for your CareerVillage account.{% endblock %}
{% block metakeywords %}CareerVillage{% endblock %}

{% block head %}
    {# ANYTHING YOU PUT HERE GETS ADDED INTO THE HEAD #}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <h2 class="offset1 span9">Settings<br /><br /></h2>

</div>
<div id="settings" class="row-fluid">
    <div class="tabbable tabs-left offset1 span3">
        <ul class="nav nav-tabs">
            <li class="{% block accountactive %}{% endblock %}">
                <a href="{% url settings_account %}">Account</a>
            </li>
            <li class="{% block passwordactive %}{% endblock %}"> 
                <a href="{% url settings_password %}">Password</a>
            </li>
            <li class="{% block notificationsactive %}{% endblock %}">
                <a href="{% url settings_notifications %}">Notification</a>
            </li>
            <li class="{% block followingtopicsactive %}{% endblock %}">
                <a href="{% url settings_following_topics %}">Following topics</a>
            </li>
            <li class="{% block socialnetworksactive %}{% endblock %}">
                <a href="{% url settings_social_networks %}">Social networks</a>
            </li>
        </ul>
    </div>

    <div class="tab-content span8">
        <div class="tab-pane active row-fluid">
            {% block settings_content%}
            {% endblock %}
        </div>
        <a style="float:right;" href="{% url homepage %}" class="btn">Return to homepage</a>
    </div>

</div>


{% endblock %}
<!-- end settings_base.html -->