{% extends "v2/settings_base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}

{% block passwordactive %}
active
{% endblock %}

{% block settings_content %}

    <h4 class="subtitle">Update your password</h4>

    <form class="form-horizontal" name="" action="{% url settings_account %}" method="post">
        <div class="control-group">
            <label class="control-label" for="">Current Password</label>
            <div class="controls">
                {{ form.oldpw }}
                <span class="form-error">
                    {{ form.oldpw.errors }}
                </span> 
            </div>
        </div>
        <hr />
        <div class="control-group">
            <label class="control-label" for="">New password</label>
            <div class="controls">
                {{ form.password1 }}
                <span class="form-error">
                    {{ form.password1.errors }}
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="">New password</label>
            <div class="controls">
                {{ form.password1 }}
                <span class="form-error">
                    {{ form.password1.errors }}
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{% trans "Save" %}" class="submit btn btn-success" >          
            </div>
        </div>
    </form>

{% endblock %}