{% extends "v2/settings_base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}

{% block passwordactive %}
active
{% endblock %}

{% block settings_content %}
<div>
    <form name="" action="{% url settings_password %}" method="post">
        <div id="passwordform">
            <div>Current password</div>
            <div>
                {{ form.oldpw }}
                <span class="form-error">
                    {{ form.oldpw.errors }}
                </span> 
            </div>
            <div>[Put dotted line here]</div>
            <div>New password</div>
            <div>
                {{ form.password1 }}
            </div>
            <div>(again)</div>
            <div>
                {{ form.password2 }}
            </div>
            <div>
                <input type="submit" value="{% trans "Save" %}" class="btn btn-success" >          
            </div>
        </div>
    </form>
</div>
<div>
    <a href="{% url homepage %}" class="btn">Return to homepage</a>
</div>
{% endblock %}