{% extends "v2/settings_base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}

{% block notificationsactive %}
active
{% endblock %}

{% block settings_content %}

<div id="notifications">
    <h4 style="margin-top:-12px; margin-bot">
        When a student asks a question you can answer, 
        or a professional answers one of your questions, 
        how do you want us to let you know?
    </h4>

    <section class="custom-radio-elements">
        <article class="span3 radio-el">
            <img />
            <h5>Super hero</h5>
            <p>
                Let me know once the student asks the question. I'm an awesome possum!    
            </p>
        </article>
        <article class="span3 active radio-el">
            <img />
            <h5>Daily Mail</h5>
            <p>
                Send me a note at the end of each day with questions I can answer. 
            </p>
        </article>
        <article class="span3 radio-el">
            <img />
            <h5>Weekend Warrior</h5>
            <p>
                If you email me once a week, I'll answer my questions in a big batch.  
            </p>
        </article>
        <article class="span3 radio-el">
            <img />
            <h5>Don't call me. I'll call you.</h5>
            <p>
                 Email isn't a good way to reach me. Plus, my inbox is a temple. 
            </p>
        </article>
    </section>
</div>

{% endblock %}