{% extends "v2/settings_base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% load question_list_tags %}

{% block socialnetworksactive %}
    active
{% endblock %}

{% block settings_content %}

    <h4 class="subtitle">Connect your social networks</h4>

    <div class="row-fluid">
        <div class="span6" style="text-align:center">
            <h4 class="subtitle">Facebook</h4>
            <a href="#" class="btn btn-large">Connect with Facebook</a>
        </div>
        <div class="span6" style="text-align:center">
            <h4 class="subtitle">Twitter</h4>
            <a href="#" class="btn btn-large">Connect with Twitter</a>
        </div>
    </div>
    
{% endblock %}