{% extends "base_nosearch.html" %}
{% block page_center %}

<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">
				<h1 class="red">
					CareerVillage engages students, educators and 
					professionals in activities that foster career development
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center"><img src="/m/default/media/images/day-at-eastside.png"></div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row" style="background-color: #666;
		padding-top: 20px;
		width: 1040px;
		position: relative;
		left: -30px;
		color: white;"> 
			<div class="center" style="font-size: 1.6em;">
				We're based in Cambridge MA, New York NY, and San Francisco CA (psst... <a href="mailto:team@careervillage.org?Subject=Job%20Opportunities%20at%20CareerVillage&Body=I%20am%20interested%20in%20learning%20more%20about%20job%20opportunities%20at%20CareerVillage." style="color:white; font-weight: bold; text-decoration: underline;">we're hiring!</a>) 
			</div>
			<div id="triangle-topleft-25" style="width:0;height:0;border-top: 25px solid #7f7f7f; border-right: 25px solid transparent; position: relative; float:right; bottom:-25px;"></div>
			<div id="triangle-topright-25" style="width:0;height:0;border-top: 25px solid #7f7f7f; border-left: 25px solid transparent; position: relative; float:left; bottom:-25px;"></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span7" style="background-color: white; padding: 2em;">
				<span style="font-family: 'MS sans-serif', Geneva; color: #999;">FOR STUDENTS</span>
				<h4>Get the info you need to be successful</h4>
				<p>Whether you know what you want to do or you're still searching for your dream 
				job, you are going to need a lot of information about careers. You don't have to 
				get it all on your own -- we give you access to working professionals who have been 
				in your shoes to help guide you on your path. <a href="{% url auth_signin %}">Sign up now!</a>
				</p>
			</div>
			<div class="span7" style="background-color: white; padding: 2em;">
				<span style="font-family: 'MS sans-serif', Geneva; color: #999;">FOR PROFESSIONALS</span>
				<h4>The easiest way to support youth</h4>
				<p>You can share your experience directly with students on CareerVillage 
				when your schedule permits--whether you're at home or on the road, whether 
				it's day or evening, whether it's weekday or weekend." Just a paragraph is 
				enough to help a student. With an account on 
				the site, unintrusive email digests will inform you when students ask 
				questions about your field. <a href="{% url auth_signin %}">Sign up now!</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span7" style="background-color: white; padding: 2em;">
				<span style="font-family: 'MS sans-serif', Geneva; color: #999;">FOR EDUCATORS</span>
				<h4>Professional development in your classroom - free</h4>
				<p>CareerVillage makes tools for you to help your students discover 
				and learn about careers and professional development. We give you all 
				of the materials you need to run a CareerVillage program with your 
				classes and access to the CareerVillage platform for all of your 
				students. Our partners are high schools or after-school programs 
				looking to add professional development to their offering. 
				<i>We don't charge our partners a dime.</i> 
				<a href="{% url for-educators %}">See more...</a>
				</p>
			</div>
			<div class="span7" style="background-color: white; padding: 2em;">
				<span style="font-family: 'MS sans-serif', Geneva; color: #999;">FOR FUNDERS</span>
				<h4>Incredibly rewarding - incredibly impactful</h4>
				<p>With our technology, we can achieve economies of scale unrivaled in 
				the youth development and education sector, which means faster and easier paths to talent for employers. 
				<a href="mailto:team@careervillage.org?Subject=Funding%20CareerVillage&Body=I%20am%20interested%20in%20learning%20more%20about%20funding%20CareerVillage.">Schedule a call with our founders...</a>
				</p>
			</div>
		</div>
		<div class="row" style="    width: 980px;
    border-top: dashed 1px #CCC;
    border-bottom: dashed 1px #ccc;
    padding-top: 2em;
    padding-bottom: 2em;
		">
			<div class="span16" style="padding-left: 2em;">
				<span style="font-family: 'MS sans-serif', Geneva; color: #999;">
				OUR SPONSORS AND SUPPORTERS
				</span>
			</div>
			<div class="span16 center"><img src="/m/default/media/images/sponsor-logos.png"></div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">
				<h1 class="red">Contact us to find out more!</h1>
				<h3>We're available anytime at team@careervillage.org </h3>
			</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1" style="padding: 2em;">
				<h3>Why?</h3>
				Academic research shows that by empowering students with career 
				information, they can come to well-informed decisions about their 
				future careers which will support them through high school and 
				college. 
			</div>
			<div class="span6 " style="padding: 2em;">
				<h3>Who can join?</h3>
				There are no pre-requisites for asking or answering 
				questions - just a good attitude and a helpful mindset! 			</div>
		</div>
	</div>
</div>

{% endblock %}