{% extends "base_nosearch.html" %}
{% block page_center %}

<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">For Professionals: Volunteering with CareerVillage</h1></div>
		</div>
		<div class="row">
			<div class="span16 center"><h5><em>In one minute, you could give a student advice that could change their life.</em></h5></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<h3>What is CareerVillage?</h3>
				<p>CareerVillage is an online community where students ask 
				professional development questions and working professionals answer them. 
				It is supported by a dedicated non-profit. Our mission: CareerVillage 
				strives to empower students to think about their future and to obtain the 
				information they need to achieve their aspirations. 
				</p>
			</div>
			<div class="span6 offset2">
				<h3>Give back on your schedule</h3>
				<p>Mentoring is a wonderful way to give back to your community. 
				But when you can't schedule consistent meetings with students, you 
				can still give back. CareerVillage allows you to answer questions 
				and help students <em><strong>on your schedule</strong></em>. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<h3>We help students in great need</h3>
				<p>We partner with innovative leaders in education to provide 
				CareerVillage to their teachers. We target students who need 
				your help -- they attend high schools with proportionally high 
				rates of free and reduced lunch, and a highly diverse student 
				body. These are the students who often lack access to diverse 
				professional networks through their family and friend networks.   
				</p>
			</div>
			<div class="span6 offset2">
				<h3>Do you meet the requirements?</h3>
				<p>To advise students on CareerVillage, you must:</p>
				<ul>
					<li>Have a warm <strong>heart</strong>.</li>
					<li>Be good at <strong>something</strong>.</li>
					<li>Have <strong>patience</strong> with grammar and spelling.</li>
					<li>Treat students with <strong>respect and honesty</strong>.</li>
				</ul>
				<p>Qualified? (we thought so :) Read on...</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">Let's get started!</h1></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span8 offset4 center">
				<h3>Getting access to CareerVillage takes seconds.</h3>
				<p>Want to save time? You can log in with Facebook, Twitter, or Google too! 
				</p>
				<a href="/account/signin/" class="btn primary">Let's get started!</a>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}