{% extends "base_nosearch.html" %}
{% block page_center %}

<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">For Educators: Get CareerVillage in your Classrooms!</h1></div>
		</div>
		<div class="row">
			<div class="span16 center"><h5><em>Provide your students with access to a wide array of professionals for <strong>FREE</strong>.</em></h5></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span6 offset1">
				<h3>What is CareerVillage?</h3>
				<p>CareerVillage is an online community where students ask 
				professional development questions and working professionals answer them. 
				It is supported by a dedicated non-profit. Our mission: CareerVillage 
				strives to empower students to think about their future and to obtain the 
				information they need to achieve their aspirations. 
				</p>
			</div>
			<div class="span6 offset2">
				<h3>How does the program work?</h3>
				<p>We provide our partners with all of the materials they need 
				to run a 6-week CareerVillage program with their students. This 
				includes materials on how CareerVillage can fit into your 
				curriculum, sample lesson plans with accompanying slides and 
				handouts to help students ask better questions, student FAQs, 
				and easily-or-automatically gradable homework assignments and 
				competitions to help students engage. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span16 center"><h1 class="red">Contact us to find out more!</h1></div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span12 offset2 center">
				<h3>Contact our founders to find out more.</h3>
				<p>We're available anytime by email at team [at] careervillage. Remember it's .org, not .com! 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
			<div class="span16 center">&nbsp;</div>
		</div>
	</div>
</div>

{% endblock %}