{% load i18n extra_tags %}

<script type="text/javascript">
    /* <![CDATA[ */
    var i18nLang = '{{settings.LANGUAGE_CODE}}';
    var scriptUrl = '{{settings.FORCE_SCRIPT_NAME}}/';
    var osqaSkin = '{{settings.OSQA_SKIN}}';

    var messages = {
        username: '{{ user.username }}',
        confirm: "{% trans "Are you sure?" %}",
        yes: "{% trans "Yes" %}",
        no: "{% trans "No" %}",
        message: "{% trans "Message:" %}",
        cancel: "{% trans "Cancel" %}",
        close: "{% trans "Close" %}",
        ok: "{% trans "Ok" %}",
        matching_tags_url: "{% url matching_tags %}",
        word: "{% trans "word" %}",
        words: "{% trans "words" %}",
        character: "{% trans "character" %}",
        characters: "{% trans "characters" %}"
    }
    /* ]] */
</script>