{% load extra_filters extra_tags i18n email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME

    exclude_greeting = True
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Password Reset Link {% endblocktrans %}{% endsubject %}

    {### The main content of the email (HTML VERSION) ###}
    {% htmlcontent v2/emails/email_base.html %}    
        <!-- teaser -->
        <tr>
            <td valign="top" style="border-collapse:collapse">
                <div style="padding:20px 0; color:#505050;font-family:Helvetica;font-size:10px;line-height:100%;text-align:left">

                </div>
            </td>
        </tr>
        <!-- main content -->
        <tr>
            <td>
                <div style="{{content_styles}}">
                    <p style="{{ p_style }}">
                        blah blah
                    </p>
                </div>
            </td>
        </tr>
    {% endhtmlcontent %}

    {### The main content of the email (PLAIN TEXT VERSION) ###}
    {% textcontent v2/emails/email_base_text.html %}
        blah blah
    {% endtextcontent %}

{% endemail %}

