<h3>Total</h3>
<table summary="Overall Stats" class="bordered-table zebra-striped">
    <thead>
    <tr>
        <th>Points earned</th>
        <th>Questions asked</th>
        <th>Answers received</th>
        <th>Comments made</th>
        <th>Pageviews</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% with cohort.details.totals as totals %}
        <td>{{ totals.points }}</td>
        <td>{{ totals.questions }}</td>
        <td>{{ totals.answers_received }}</td>
        <td>{{ totals.comments }}</td>
        {% endwith %}
    </tr>
    </tbody>
</table>

<h3>Individual</h3>
<table summary="Detailed Stats" class="bordered-table zebra-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Points earned</th>
        <th>Questions asked</th>
        <th>Answers received</th>
    </tr>
    </thead>
    <tbody>

    {% for s in cohort.details.individuals %}
    <tr>
        <td><a href="{{ s.student.get_profile_url }}">{{ s.student.username }}</a></td>
        <td>{{ s.student.email }}</td>
        <td>{{ s.points }}</td>
        <td>{{ s.questions }}</td>
        <td>{{ s.answers_received }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>